body
{
    background: #819292 url('images/page.png') top center no-repeat fixed;
    background: -webkit-linear-gradient(top, rgba(43, 50, 50, 0.15) 0, rgba(114, 132, 132, 0.07) 447px, rgba(224, 228, 228, 0.32) 1050px) no-repeat, url('images/page.png') top center no-repeat, -webkit-linear-gradient(top, #475252 0, #778888 447px, #C0C8C8 1050px) no-repeat;
    background: -moz-linear-gradient(top, rgba(43, 50, 50, 0.15) 0, rgba(114, 132, 132, 0.07) 447px, rgba(224, 228, 228, 0.32) 1050px) no-repeat, url('images/page.png') top center no-repeat, -moz-linear-gradient(top, #475252 0, #778888 447px, #C0C8C8 1050px) no-repeat;
    background: -o-linear-gradient(top, rgba(43, 50, 50, 0.15) 0, rgba(114, 132, 132, 0.07) 447px, rgba(224, 228, 228, 0.32) 1050px) no-repeat, url('images/page.png') top center no-repeat, -o-linear-gradient(top, #475252 0, #778888 447px, #C0C8C8 1050px) no-repeat;
    background: -ms-linear-gradient(top, rgba(43, 50, 50, 0.15) 0, rgba(114, 132, 132, 0.07) 447px, rgba(224, 228, 228, 0.32) 1050px) no-repeat, url('images/page.png') top center no-repeat, -ms-linear-gradient(top, #475252 0, #778888 447px, #C0C8C8 1050px) no-repeat;
    -svg-background: linear-gradient(top, rgba(43, 50, 50, 0.15) 0, rgba(114, 132, 132, 0.07) 447px, rgba(224, 228, 228, 0.32) 1050px) no-repeat, url('images/page.png') top center no-repeat, linear-gradient(top, #475252 0, #778888 447px, #C0C8C8 1050px) no-repeat;
    background: linear-gradient(to bottom, rgba(43, 50, 50, 0.15) 0, rgba(114, 132, 132, 0.07) 447px, rgba(224, 228, 228, 0.32) 1050px) no-repeat, url('images/page.png') top center no-repeat, linear-gradient(to bottom, #475252 0, #778888 447px, #C0C8C8 1050px) no-repeat;
    background-attachment: fixed, fixed, fixed !important;
    margin: 0 auto;
    font-size: 14px;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    position: relative;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    cursor: default;
    overflow: hidden;
}

table
{
    font-size: 14px;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
    margin: 0;
    padding: 0;
}

body
{
    text-align: left;
}

body, li, table, a, a:link, a:visited, a.visited, a:hover, a.hovered
{
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    line-height: 175%;
}

p
{
    margin: 13px 0;
}

h1, h1 a, h1 a:link, h1 a:visited, h1 a:hover, h2, h2 a, h2 a:link, h2 a:visited, h2 a:hover, h3, h3 a, h3 a:link, h3 a:visited, h3 a:hover, h4, h4 a, h4 a:link, h4 a:visited, h4 a:hover, h5, h5 a, h5 a:link, h5 a:visited, h5 a:hover, h6, h6 a, h6 a:link, h6 a:visited, h6 a:hover
{
    font-size: 24px;
    font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
    font-weight: normal;
    font-style: normal;
    line-height: 120%;
}

a, a:link
{
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    text-decoration: none;
    color: #F09C0A;
}

a:visited, a.visited
{
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    text-decoration: none;
    color: #95A3A3;
}

a:hover, a.hover
{
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    text-decoration: underline;
    color: #748686;
}

h1
{
    color: #748686;
    margin: 10px 0 0;
    font-size: 29px;
    font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

h1 a, h1 a:link, h1 a:hover, h1 a:visited
{
    font-size: 29px;
    font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

h2
{
    color: #748686;
    margin: 10px 0 0;
    font-size: 24px;
    font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

h2 a, h2 a:link, h2 a:hover, h2 a:visited
{
    font-size: 24px;
    font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

h3
{
    color: #95A3A3;
    margin: 10px 0 0;
    font-size: 22px;
    font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

h3 a, h3 a:link, h3 a:hover, h3 a:visited
{
    font-size: 22px;
    font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

h4
{
    color: #262C2C;
    margin: 10px 0 0;
    font-size: 20px;
    font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

h4 a, h4 a:link, h4 a:hover, h4 a:visited
{
    font-size: 20px;
    font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

h5
{
    color: #262C2C;
    margin: 10px 0 0;
    font-size: 17px;
    font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

h5 a, h5 a:link, h5 a:hover, h5 a:visited
{
    font-size: 17px;
    font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

h6
{
    color: #5A6868;
    margin: 10px 0 0;
    font-size: 14px;
    font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

h6 a, h6 a:link, h6 a:hover, h6 a:visited
{
    font-size: 14px;
    font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

header, footer, nav
{
    -webkit-background-origin: border !important;
    -moz-background-origin: border !important;
    background-origin: border-box !important;
}

header, footer, nav
{
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul
{
    list-style-type: none;
}

ol
{
    list-style-position: inside;
}

html, body
{
    height: 100%;
}

/**
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * https://github.com/necolas/normalize.css
 */

html
{
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body
{
    padding: 0;
    margin: 0;
    min-width: 700px;
    color: #262C2C;
}

.clearfix:after
{
    clear: both;
    display: table;
    content: '';
}

form
{
    padding: 0 !important;
    margin: 0 !important;
}

table.position
{
    position: relative;
    width: 100%;
    table-layout: fixed;
}

li h1, li h1
{
    margin: 1px;
}

li h2, li h2
{
    margin: 1px;
}

li h3, li h3
{
    margin: 1px;
}

li h4, li h4
{
    margin: 1px;
}

li h5, li h5
{
    margin: 1px;
}

li h6, li h6
{
    margin: 1px;
}

li p, li p
{
    margin: 1px;
}

input, select, textarea
{
    vertical-align: middle;
    font-size: 14px;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
}

input[type="text"], input[type="search"], input[type="password"], input[type="email"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="number"], input[type="range"], input[type="tel"], input[type="time"], input[type="week"], textarea
{
    background: #FCFDFD;
    border: 2px solid #B5BFBF;
    margin: 0 auto;
}

input[type="text"], input[type="search"], input[type="password"], input[type="email"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="number"], input[type="range"], input[type="tel"], input[type="time"], input[type="week"], textarea
{
    width: 100%;
    padding: 8px 0;
    color: #262C2C !important;
    font-size: 14px;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    text-shadow: none;
}

a img
{
    border: 0;
}

body img
{
    border: 1px solid #819292;
    margin: 5px 5px 5px 5px;
}

body table
{
    border-collapse: collapse;
    margin: 1px;
}

body th, body td
{
    padding: 2px;
    border: dotted 1px #819292;
    vertical-align: top;
    text-align: left;
}

body th
{
    text-align: center;
    vertical-align: middle;
    padding: 7px;
}

pre
{
    overflow: auto;
    padding: 0.1em;
}

.image-caption-wrapper
{
    padding: 5px 5px 5px 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.image-caption-wrapper img
{
    margin: 0 !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.image-caption-wrapper p
{
    font-size: 80%;
    text-align: right;
    margin: 0;
}

ul>li:before
{
    content: url('images/postbullets.png');
    margin-right: 6px;
    bottom: 2px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
}

.opera  ul>li:before
{
    bottom: 0;
}

li
{
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    color: #394141;
    margin: 3px 0 0 11px;
}

ul>li, ol
{
    padding: 0;
}

ul>li
{
    padding-left: 14px;
}

ul>li:before
{
    margin-left: -14px;
}

ol, ul
{
    margin: 1em 0 1em 11px;
}

li ol, li ul
{
    margin: 0.5em 0 0.5em 11px;
}

li
{
    margin: 3px 0 0 0;
}

ol>li
{
    overflow: visible;
}

ul>li
{
    overflow-x: visible;
    overflow-y: hidden;
}

blockquote
{
    background: #B5BFBF url('images/postquote.png') no-repeat scroll;
    border: 1px solid #9DAAAA;
    padding: 12px 12px 12px 36px;
    margin: 0 0 0 20px;
    color: #0E0B06;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: italic;
    text-align: left;
    overflow: auto;
    clear: both;
}

blockquote a, blockquote a, blockquote a:link, blockquote a:link, blockquote a:visited, blockquote a:visited, blockquote a:hover, blockquote a:hover
{
    color: #0E0B06;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: italic;
    text-align: left;
}

blockquote p, blockquote p
{
    margin: 0;
    margin: 5px 0;
}

.stud-logo-name
{
    text-shadow: 2px 2px #000000;
}

.stud-logo-text
{
    text-shadow: 2px 2px #000000;
    margin-top: -10px;
}

.newsdate
{
    background: #BBBBBB;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    color: #FFFFFF;
    padding: 10px;
    width: 48px;
    height: 48px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#g1
{
    -webkit-border-top-left-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-bottomleft: 7px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background: #246BB2;
    background: -moz-linear-gradient(top, #246BB2 0%, #4A8CC2 50%, #246BB2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#246BB2), color-stop(50%,#4A8CC2), color-stop(100%,#246BB2));
    background: -o-linear-gradient(top, #246BB2 0%,#4A8CC2 50%,#246BB2 100%);
    color: #FFFFFF;
    padding: 20px;
}

#g2
{
    background: #329306;
    background: -moz-linear-gradient(top, #329306 0%, #40B608 50%, #329306 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#329306), color-stop(50%,#40B608), color-stop(100%,#329306));
    background: -o-linear-gradient(top, #329306 0%,#40B608 50%,#329306 100%);
    color: #FFFFFF;
    padding: 20px;
}

#g3
{
    -webkit-border-top-right-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-bottomright: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background: #ED9017;
    background: -moz-linear-gradient(top, #ED9017 0%, #F4B23F 50%, #ED9017 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ED9017), color-stop(50%,#F4B23F), color-stop(100%,#ED9017));
    background: -o-linear-gradient(top, #ED9017 0%,#F4B23F 50%,#ED9017 100%);
    color: #FFFFFF;
    padding: 20px;
}

.stud-blockheader .t, .stud-vmenublockheader .t
{
    white-space: nowrap;
}

body
{
    overflow: auto !important;
}

li.cke_panel_listItem
{
	padding-left: 0;
}

li.cke_panel_listItem:before
{
	content: none;
}