/* Created by Artisteer v4.3.0.60928 */

.stud-header, #stud-header-bg, .stud-layout-cell, .stud-layout-wrapper, .stud-footer, .stud-nav, #stud-hmenu-bg, .stud-sheet,
.clearfix {
   zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}

.stud-textblock > div {
   display: block;
   line-height: normal;
   zoom: 1;
}

.stud-header
{
   z-index: 1;
   background-image: [headerimage];
   background-position: [headerposition];
}

#stud-header-bg 
{
   display: none;
}

.stud-hmenu>li, .stud-hmenu>li>a
{
   display: inline !important;
   zoom: 1;
   float: none !important;
   vertical-align: top;
}
ul.stud-hmenu, ul.stud-hmenu ul {
   zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}
#stud-hmenu-bg 
{
   display: none;
}

ul.stud-hmenu>li:first-child {
   padding-right:3px;
}

ul.stud-hmenu ul{
   background-color: #FCE0B1 !important;
}

.stud-content-layout, .stud-content-layout-row, .stud-layout-cell 
{
   display: block;
   zoom: 1;
}
.stud-layout-cell
{
   position:relative;
   float: left;
   clear: right;
}

input[type="text"]
{
   margin:0 0 0 -3px;
   zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

* html input[type="text"]
{
   margin :0;
}

form.stud-search>input[type="text"]
{
   margin:0 0 0 -3px;
   zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

form.stud-search div>input[type="text"]
{
   width: 100%;
}

* html form.stud-search>input[type="text"] 
{
   margin :0;
}

form.stud-search
{
   zoom: 1;
}
.stud-postmetadataheader{
   zoom:1;
}

.stud-postheadericons span{
   zoom: 1;
}
.stud-postcontent {
   height: 1%;
}

.stud-postmetadatafooter{
   zoom:1;
}

.stud-postfootericons span{
   zoom: 1;
}
.close-alt, .arrow-right-alt, .arrow-left-alt {
   display: block !important;
}
.cw, .ccw {
   display: none !important;
}

.stud-sidebar1 
{
   width: auto;
   float:none;
}

