/* Created by Artisteer v4.3.0.60928 */

#stud-main
{
   background: #819292 url('images/page.png') top center no-repeat fixed;
   background: -webkit-linear-gradient(top, rgba(43, 50, 50, 0.15) 0, rgba(114, 132, 132, 0.07) 447px, rgba(224, 228, 228, 0.32) 1050px) no-repeat, url('images/page.png') top center no-repeat, -webkit-linear-gradient(top, #475252 0, #778888 447px, #C0C8C8 1050px) no-repeat;
   background: -moz-linear-gradient(top, rgba(43, 50, 50, 0.15) 0, rgba(114, 132, 132, 0.07) 447px, rgba(224, 228, 228, 0.32) 1050px) no-repeat, url('images/page.png') top center no-repeat, -moz-linear-gradient(top, #475252 0, #778888 447px, #C0C8C8 1050px) no-repeat;
   background: -o-linear-gradient(top, rgba(43, 50, 50, 0.15) 0, rgba(114, 132, 132, 0.07) 447px, rgba(224, 228, 228, 0.32) 1050px) no-repeat, url('images/page.png') top center no-repeat, -o-linear-gradient(top, #475252 0, #778888 447px, #C0C8C8 1050px) no-repeat;
   background: -ms-linear-gradient(top, rgba(43, 50, 50, 0.15) 0, rgba(114, 132, 132, 0.07) 447px, rgba(224, 228, 228, 0.32) 1050px) no-repeat, url('images/page.png') top center no-repeat, -ms-linear-gradient(top, #475252 0, #778888 447px, #C0C8C8 1050px) no-repeat;
   -svg-background: linear-gradient(top, rgba(43, 50, 50, 0.15) 0, rgba(114, 132, 132, 0.07) 447px, rgba(224, 228, 228, 0.32) 1050px) no-repeat, url('images/page.png') top center no-repeat, linear-gradient(top, #475252 0, #778888 447px, #C0C8C8 1050px) no-repeat;
   background: linear-gradient(to bottom, rgba(43, 50, 50, 0.15) 0, rgba(114, 132, 132, 0.07) 447px, rgba(224, 228, 228, 0.32) 1050px) no-repeat, url('images/page.png') top center no-repeat, linear-gradient(to bottom, #475252 0, #778888 447px, #C0C8C8 1050px) no-repeat;
   background-attachment: fixed, fixed, fixed !important;
   margin:0 auto;
   font-size: 14px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   position: relative;
   width: 100%;
   min-height: 100%;
   left: 0;
   top: 0;
   cursor:default;
   overflow:hidden;
}
table, ul.stud-hmenu
{
   font-size: 14px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
   margin: 0;
   padding: 0;
}

/* Reset buttons border. It's important for input and button tags. 
 * border-collapse should be separate for shadow in IE. 
 */
.stud-button
{
   border-collapse: separate;
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
   background: #9DAAAA;
   background: -webkit-linear-gradient(top, rgba(184, 193, 193, 0.6) 0, rgba(127, 144, 144, 0.6) 100%) no-repeat;
   background: -moz-linear-gradient(top, rgba(184, 193, 193, 0.6) 0, rgba(127, 144, 144, 0.6) 100%) no-repeat;
   background: -o-linear-gradient(top, rgba(184, 193, 193, 0.6) 0, rgba(127, 144, 144, 0.6) 100%) no-repeat;
   background: -ms-linear-gradient(top, rgba(184, 193, 193, 0.6) 0, rgba(127, 144, 144, 0.6) 100%) no-repeat;
   -svg-background: linear-gradient(top, rgba(184, 193, 193, 0.6) 0, rgba(127, 144, 144, 0.6) 100%) no-repeat;
   background: linear-gradient(to bottom, rgba(184, 193, 193, 0.6) 0, rgba(127, 144, 144, 0.6) 100%) no-repeat;
   -webkit-border-radius:5px;
   -moz-border-radius:5px;
   border-radius:5px;
   -webkit-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.09);
   -moz-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.09);
   box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.09);
   border:1px solid rgba(129, 146, 146, 0.6);
   padding:0 15px;
   margin:0 auto;
   height:32px;
}

.stud-postcontent,
.stud-postheadericons,
.stud-postfootericons,
.stud-blockcontent,
ul.stud-vmenu a 
{
   text-align: left;
}

.stud-postcontent,
.stud-postcontent li,
.stud-postcontent table,
.stud-postcontent a,
.stud-postcontent a:link,
.stud-postcontent a:visited,
.stud-postcontent a.visited,
.stud-postcontent a:hover,
.stud-postcontent a.hovered
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   line-height: 175%;
}

.stud-postcontent p
{
   margin: 13px 0;
}

.stud-postcontent h1, .stud-postcontent h1 a, .stud-postcontent h1 a:link, .stud-postcontent h1 a:visited, .stud-postcontent h1 a:hover,
.stud-postcontent h2, .stud-postcontent h2 a, .stud-postcontent h2 a:link, .stud-postcontent h2 a:visited, .stud-postcontent h2 a:hover,
.stud-postcontent h3, .stud-postcontent h3 a, .stud-postcontent h3 a:link, .stud-postcontent h3 a:visited, .stud-postcontent h3 a:hover,
.stud-postcontent h4, .stud-postcontent h4 a, .stud-postcontent h4 a:link, .stud-postcontent h4 a:visited, .stud-postcontent h4 a:hover,
.stud-postcontent h5, .stud-postcontent h5 a, .stud-postcontent h5 a:link, .stud-postcontent h5 a:visited, .stud-postcontent h5 a:hover,
.stud-postcontent h6, .stud-postcontent h6 a, .stud-postcontent h6 a:link, .stud-postcontent h6 a:visited, .stud-postcontent h6 a:hover,
.stud-blockheader .t, .stud-blockheader .t a, .stud-blockheader .t a:link, .stud-blockheader .t a:visited, .stud-blockheader .t a:hover,
.stud-vmenublockheader .t, .stud-vmenublockheader .t a, .stud-vmenublockheader .t a:link, .stud-vmenublockheader .t a:visited, .stud-vmenublockheader .t a:hover,
.stud-headline, .stud-headline a, .stud-headline a:link, .stud-headline a:visited, .stud-headline a:hover,
.stud-slogan, .stud-slogan a, .stud-slogan a:link, .stud-slogan a:visited, .stud-slogan a:hover,
.stud-postheader, .stud-postheader a, .stud-postheader a:link, .stud-postheader a:visited, .stud-postheader a:hover
{
   font-size: 24px;
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 120%;
}

.stud-postcontent a, .stud-postcontent a:link
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   color: #F09C0A;
}

.stud-postcontent a:visited, .stud-postcontent a.visited
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   color: #95A3A3;
}

.stud-postcontent  a:hover, .stud-postcontent a.hover
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: underline;
   color: #748686;
}

.stud-postcontent h1
{
   color: #748686;
   margin: 10px 0 0;
   font-size: 29px;
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

.stud-blockcontent h1
{
   margin: 10px 0 0;
   font-size: 29px;
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

.stud-postcontent h1 a, .stud-postcontent h1 a:link, .stud-postcontent h1 a:hover, .stud-postcontent h1 a:visited, .stud-blockcontent h1 a, .stud-blockcontent h1 a:link, .stud-blockcontent h1 a:hover, .stud-blockcontent h1 a:visited 
{
   font-size: 29px;
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

.stud-postcontent h2
{
   color: #748686;
   margin: 10px 0 0;
   font-size: 24px;
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

.stud-blockcontent h2
{
   margin: 10px 0 0;
   font-size: 24px;
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

.stud-postcontent h2 a, .stud-postcontent h2 a:link, .stud-postcontent h2 a:hover, .stud-postcontent h2 a:visited, .stud-blockcontent h2 a, .stud-blockcontent h2 a:link, .stud-blockcontent h2 a:hover, .stud-blockcontent h2 a:visited 
{
   font-size: 24px;
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

.stud-postcontent h3
{
   color: #95A3A3;
   margin: 10px 0 0;
   font-size: 22px;
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

.stud-blockcontent h3
{
   margin: 10px 0 0;
   font-size: 22px;
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

.stud-postcontent h3 a, .stud-postcontent h3 a:link, .stud-postcontent h3 a:hover, .stud-postcontent h3 a:visited, .stud-blockcontent h3 a, .stud-blockcontent h3 a:link, .stud-blockcontent h3 a:hover, .stud-blockcontent h3 a:visited 
{
   font-size: 22px;
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

.stud-postcontent h4
{
   color: #262C2C;
   margin: 10px 0 0;
   font-size: 20px;
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

.stud-blockcontent h4
{
   margin: 10px 0 0;
   font-size: 20px;
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

.stud-postcontent h4 a, .stud-postcontent h4 a:link, .stud-postcontent h4 a:hover, .stud-postcontent h4 a:visited, .stud-blockcontent h4 a, .stud-blockcontent h4 a:link, .stud-blockcontent h4 a:hover, .stud-blockcontent h4 a:visited 
{
   font-size: 20px;
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

.stud-postcontent h5
{
   color: #262C2C;
   margin: 10px 0 0;
   font-size: 17px;
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

.stud-blockcontent h5
{
   margin: 10px 0 0;
   font-size: 17px;
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

.stud-postcontent h5 a, .stud-postcontent h5 a:link, .stud-postcontent h5 a:hover, .stud-postcontent h5 a:visited, .stud-blockcontent h5 a, .stud-blockcontent h5 a:link, .stud-blockcontent h5 a:hover, .stud-blockcontent h5 a:visited 
{
   font-size: 17px;
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

.stud-postcontent h6
{
   color: #5A6868;
   margin: 10px 0 0;
   font-size: 14px;
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

.stud-blockcontent h6
{
   margin: 10px 0 0;
   font-size: 14px;
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

.stud-postcontent h6 a, .stud-postcontent h6 a:link, .stud-postcontent h6 a:hover, .stud-postcontent h6 a:visited, .stud-blockcontent h6 a, .stud-blockcontent h6 a:link, .stud-blockcontent h6 a:hover, .stud-blockcontent h6 a:visited 
{
   font-size: 14px;
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

header, footer, article, nav, #stud-hmenu-bg, .stud-sheet, .stud-hmenu a, .stud-vmenu a, .stud-slidenavigator > a, .stud-checkbox:before, .stud-radiobutton:before
{
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
}

header, footer, article, nav, #stud-hmenu-bg, .stud-sheet, .stud-slidenavigator > a, .stud-checkbox:before, .stud-radiobutton:before
{
   display: block;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

ul
{
   list-style-type: none;
}

ol
{
   list-style-position: inside;
}

html, body
{
   height: 100%;
}

/**
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * https://github.com/necolas/normalize.css
 */

html {
   -ms-text-size-adjust: 100%;
   /* 2 */
    -webkit-text-size-adjust: 100%;
/* 2 */}

body
{
   padding: 0;
   margin:0;
   min-width: 700px;
   color: #262C2C;
}

.stud-header:after, 
#stud-header-bg:after, 
.stud-layout-cell:after, 
.stud-layout-wrapper:after, 
.stud-footer:after, 
.stud-nav:after, 
#stud-hmenu-bg:after, 
.stud-sheet:after,
.cleared, 
.clearfix:after 
{
   clear: both;
   display: table;
   content: '';
}

form
{
   padding: 0 !important;
   margin: 0 !important;
}

table.position
{
   position: relative;
   width: 100%;
   table-layout: fixed;
}

li h1, .stud-postcontent li h1, .stud-blockcontent li h1 
{
   margin:1px;
} 
li h2, .stud-postcontent li h2, .stud-blockcontent li h2 
{
   margin:1px;
} 
li h3, .stud-postcontent li h3, .stud-blockcontent li h3 
{
   margin:1px;
} 
li h4, .stud-postcontent li h4, .stud-blockcontent li h4 
{
   margin:1px;
} 
li h5, .stud-postcontent li h5, .stud-blockcontent li h5 
{
   margin:1px;
} 
li h6, .stud-postcontent li h6, .stud-blockcontent li h6 
{
   margin:1px;
} 
li p, .stud-postcontent li p, .stud-blockcontent li p 
{
   margin:1px;
}


.stud-shapes
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   overflow: hidden;
   z-index: 0;
}

.stud-slider-inner {
   position: relative;
   overflow: hidden;
   width: 100%;
   height: 100%;
}

.stud-slidenavigator > a {
   display: inline-block;
   vertical-align: middle;
   outline-style: none;
   font-size: 1px;
}

.stud-slidenavigator > a:last-child {
   margin-right: 0 !important;
}

.stud-slideheader0-object1275252263 h1, 
.stud-slideheader0-object1275252263 h2, 
.stud-slideheader0-object1275252263 h3, 
.stud-slideheader0-object1275252263 h4, 
.stud-slideheader0-object1275252263 h5, 
.stud-slideheader0-object1275252263 h6, 
.stud-slideheader0-object1275252263 p, 
.stud-slideheader0-object1275252263 a, 
.stud-slideheader0-object1275252263 ul, 
.stud-slideheader0-object1275252263 ol, 
.stud-slideheader0-object1275252263 li
{
  line-height: 125%;
}

.stud-slideheader0-object1275252263
{  
  position: absolute;
  top: 65px;
  left: 100%;
  margin-left: -576px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
    overflow: hidden;
      background-image: url('images/slideheader0-object1275252263.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
    z-index: 2;
  width: 576px;
  height: 112px;
}

.default-responsive .stud-slideheader0-object1275252263
{
    background-image: none;
  }

.stud-slideheader0-object1275252263-text-container 
{
    display: table;
}

.stud-slideheader0-object1275252263-text
{
  display: table-cell;
  outline-style: none;
  padding: 0px 0px !important;
  height: 112px;
  width: 576px;  
word-wrap: break-word;
}

.default-responsive .stud-slideheader0-object1275252263-text 
{
    height: auto;
}

.stud-slideheader0-object1275252263-text,
.stud-slideheader0-object1275252263-text a.stud-rss-tag-icon,
.stud-slideheader0-object1275252263-text a.stud-facebook-tag-icon,
.stud-slideheader0-object1275252263-text a.stud-twitter-tag-icon,
.stud-slideheader0-object1275252263-text a.stud-tumblr-tag-icon,
.stud-slideheader0-object1275252263-text a.stud-pinterest-tag-icon,
.stud-slideheader0-object1275252263-text a.stud-vimeo-tag-icon,
.stud-slideheader0-object1275252263-text a.stud-youtube-tag-icon,
.stud-slideheader0-object1275252263-text a.stud-linkedin-tag-icon
{
font-size: 30px;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
text-align: center;
vertical-align: middle;
line-height: 125%;
  color: #FFFFFF !important;
}

.stud-slideheader0-object1275252263-text a.stud-rss-tag-icon,
.stud-slideheader0-object1275252263-text a.stud-facebook-tag-icon,
.stud-slideheader0-object1275252263-text a.stud-twitter-tag-icon,
.stud-slideheader0-object1275252263-text a.stud-tumblr-tag-icon,
.stud-slideheader0-object1275252263-text a.stud-pinterest-tag-icon,
.stud-slideheader0-object1275252263-text a.stud-vimeo-tag-icon,
.stud-slideheader0-object1275252263-text a.stud-youtube-tag-icon,
.stud-slideheader0-object1275252263-text a.stud-linkedin-tag-icon
{
    width: 100%;
}

.default-responsive .stud-slideheader0-object1275252263-text a.stud-rss-tag-icon,
.default-responsive .stud-slideheader0-object1275252263-text a.stud-facebook-tag-icon,
.default-responsive .stud-slideheader0-object1275252263-text a.stud-twitter-tag-icon,
.default-responsive .stud-slideheader0-object1275252263-text a.stud-tumblr-tag-icon,
.default-responsive .stud-slideheader0-object1275252263-text a.stud-pinterest-tag-icon,
.default-responsive .stud-slideheader0-object1275252263-text a.stud-vimeo-tag-icon,
.default-responsive .stud-slideheader0-object1275252263-text a.stud-youtube-tag-icon,
.default-responsive .stud-slideheader0-object1275252263-text a.stud-linkedin-tag-icon
{
    width: auto;
}

.stud-textblock ul > li
{
    background-position-y: 8px !important;
}
.stud-slideheader1-object972822620 h1, 
.stud-slideheader1-object972822620 h2, 
.stud-slideheader1-object972822620 h3, 
.stud-slideheader1-object972822620 h4, 
.stud-slideheader1-object972822620 h5, 
.stud-slideheader1-object972822620 h6, 
.stud-slideheader1-object972822620 p, 
.stud-slideheader1-object972822620 a, 
.stud-slideheader1-object972822620 ul, 
.stud-slideheader1-object972822620 ol, 
.stud-slideheader1-object972822620 li
{
  line-height: 125%;
}

.stud-slideheader1-object972822620
{  
  position: absolute;
  top: 65px;
  left: 100%;
  margin-left: -576px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
    overflow: hidden;
      background-image: url('images/slideheader1-object972822620.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
    z-index: 2;
  width: 576px;
  height: 112px;
}

.default-responsive .stud-slideheader1-object972822620
{
    background-image: none;
  }

.stud-slideheader1-object972822620-text-container 
{
    display: table;
}

.stud-slideheader1-object972822620-text
{
  display: table-cell;
  outline-style: none;
  padding: 0px 0px !important;
  height: 112px;
  width: 576px;  
word-wrap: break-word;
}

.default-responsive .stud-slideheader1-object972822620-text 
{
    height: auto;
}

.stud-slideheader1-object972822620-text,
.stud-slideheader1-object972822620-text a.stud-rss-tag-icon,
.stud-slideheader1-object972822620-text a.stud-facebook-tag-icon,
.stud-slideheader1-object972822620-text a.stud-twitter-tag-icon,
.stud-slideheader1-object972822620-text a.stud-tumblr-tag-icon,
.stud-slideheader1-object972822620-text a.stud-pinterest-tag-icon,
.stud-slideheader1-object972822620-text a.stud-vimeo-tag-icon,
.stud-slideheader1-object972822620-text a.stud-youtube-tag-icon,
.stud-slideheader1-object972822620-text a.stud-linkedin-tag-icon
{
font-size: 30px;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
text-align: center;
vertical-align: middle;
line-height: 125%;
  color: #FFFFFF !important;
}

.stud-slideheader1-object972822620-text a.stud-rss-tag-icon,
.stud-slideheader1-object972822620-text a.stud-facebook-tag-icon,
.stud-slideheader1-object972822620-text a.stud-twitter-tag-icon,
.stud-slideheader1-object972822620-text a.stud-tumblr-tag-icon,
.stud-slideheader1-object972822620-text a.stud-pinterest-tag-icon,
.stud-slideheader1-object972822620-text a.stud-vimeo-tag-icon,
.stud-slideheader1-object972822620-text a.stud-youtube-tag-icon,
.stud-slideheader1-object972822620-text a.stud-linkedin-tag-icon
{
    width: 100%;
}

.default-responsive .stud-slideheader1-object972822620-text a.stud-rss-tag-icon,
.default-responsive .stud-slideheader1-object972822620-text a.stud-facebook-tag-icon,
.default-responsive .stud-slideheader1-object972822620-text a.stud-twitter-tag-icon,
.default-responsive .stud-slideheader1-object972822620-text a.stud-tumblr-tag-icon,
.default-responsive .stud-slideheader1-object972822620-text a.stud-pinterest-tag-icon,
.default-responsive .stud-slideheader1-object972822620-text a.stud-vimeo-tag-icon,
.default-responsive .stud-slideheader1-object972822620-text a.stud-youtube-tag-icon,
.default-responsive .stud-slideheader1-object972822620-text a.stud-linkedin-tag-icon
{
    width: auto;
}

.stud-textblock ul > li
{
    background-position-y: 8px !important;
}
.stud-slideheader2-object2044370354 h1, 
.stud-slideheader2-object2044370354 h2, 
.stud-slideheader2-object2044370354 h3, 
.stud-slideheader2-object2044370354 h4, 
.stud-slideheader2-object2044370354 h5, 
.stud-slideheader2-object2044370354 h6, 
.stud-slideheader2-object2044370354 p, 
.stud-slideheader2-object2044370354 a, 
.stud-slideheader2-object2044370354 ul, 
.stud-slideheader2-object2044370354 ol, 
.stud-slideheader2-object2044370354 li
{
  line-height: 125%;
}

.stud-slideheader2-object2044370354
{  
  position: absolute;
  top: 65px;
  left: 100%;
  margin-left: -576px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
    overflow: hidden;
      background-image: url('images/slideheader2-object2044370354.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
    z-index: 2;
  width: 576px;
  height: 112px;
}

.default-responsive .stud-slideheader2-object2044370354
{
    background-image: none;
  }

.stud-slideheader2-object2044370354-text-container 
{
    display: table;
}

.stud-slideheader2-object2044370354-text
{
  display: table-cell;
  outline-style: none;
  padding: 0px 0px !important;
  height: 112px;
  width: 576px;  
word-wrap: break-word;
}

.default-responsive .stud-slideheader2-object2044370354-text 
{
    height: auto;
}

.stud-slideheader2-object2044370354-text,
.stud-slideheader2-object2044370354-text a.stud-rss-tag-icon,
.stud-slideheader2-object2044370354-text a.stud-facebook-tag-icon,
.stud-slideheader2-object2044370354-text a.stud-twitter-tag-icon,
.stud-slideheader2-object2044370354-text a.stud-tumblr-tag-icon,
.stud-slideheader2-object2044370354-text a.stud-pinterest-tag-icon,
.stud-slideheader2-object2044370354-text a.stud-vimeo-tag-icon,
.stud-slideheader2-object2044370354-text a.stud-youtube-tag-icon,
.stud-slideheader2-object2044370354-text a.stud-linkedin-tag-icon
{
font-size: 30px;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
text-align: center;
vertical-align: middle;
line-height: 125%;
  color: #FFFFFF !important;
}

.stud-slideheader2-object2044370354-text a.stud-rss-tag-icon,
.stud-slideheader2-object2044370354-text a.stud-facebook-tag-icon,
.stud-slideheader2-object2044370354-text a.stud-twitter-tag-icon,
.stud-slideheader2-object2044370354-text a.stud-tumblr-tag-icon,
.stud-slideheader2-object2044370354-text a.stud-pinterest-tag-icon,
.stud-slideheader2-object2044370354-text a.stud-vimeo-tag-icon,
.stud-slideheader2-object2044370354-text a.stud-youtube-tag-icon,
.stud-slideheader2-object2044370354-text a.stud-linkedin-tag-icon
{
    width: 100%;
}

.default-responsive .stud-slideheader2-object2044370354-text a.stud-rss-tag-icon,
.default-responsive .stud-slideheader2-object2044370354-text a.stud-facebook-tag-icon,
.default-responsive .stud-slideheader2-object2044370354-text a.stud-twitter-tag-icon,
.default-responsive .stud-slideheader2-object2044370354-text a.stud-tumblr-tag-icon,
.default-responsive .stud-slideheader2-object2044370354-text a.stud-pinterest-tag-icon,
.default-responsive .stud-slideheader2-object2044370354-text a.stud-vimeo-tag-icon,
.default-responsive .stud-slideheader2-object2044370354-text a.stud-youtube-tag-icon,
.default-responsive .stud-slideheader2-object2044370354-text a.stud-linkedin-tag-icon
{
    width: auto;
}

.stud-textblock ul > li
{
    background-position-y: 8px !important;
}
.stud-slidecontainerheader {
    position: relative;
            width: 100%;
    height: 100%;
    }

.default-responsive .stud-header .stud-slidecontainerheader,
.responsive .stud-header .stud-slidecontainerheader
{
  position: absolute !important;
}

.responsive .stud-pageslider .stud-slidecontainerheader {
  position: absolute !important;
}

.stud-slidecontainerheader .stud-slide-item
{

    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    transform: rotate(0);
}



.stud-slidecontainerheader .stud-slide-item {
    -webkit-transition: 600ms ease-in-out opacity;
    -moz-transition: 600ms ease-in-out opacity;
    -ms-transition: 600ms ease-in-out opacity;
    -o-transition: 600ms ease-in-out opacity;
    transition: 600ms ease-in-out opacity;
    position: absolute !important;
    display: none;
	left: 0;
	top: 0;
	opacity: 0;
    width:  100%;
    height: 100%;
}

.stud-slidecontainerheader .active, .stud-slidecontainerheader .next, .stud-slidecontainerheader .prev {
    display: block;
}

.stud-slidecontainerheader .active {
    opacity: 1;
}

.stud-slidecontainerheader .next, .stud-slidecontainerheader .prev {
    width: 100%;
}

.stud-slidecontainerheader .next.forward, .stud-slidecontainerheader .prev.back {
    opacity: 1;
}

.stud-slidecontainerheader .active.forward {
    opacity: 0;
}

.stud-slidecontainerheader .active.back {
    opacity: 0;
}


.stud-slideheader0 {
    background-image:  url('images/slideheader0.png');
        background-position:  center center;
    background-repeat: no-repeat;
}

/* special setup for header/pageslider */
.responsive .stud-header .stud-slideheader0 {
    background-image:  url('images/slideheader0.png');
    background-size: auto auto;
    background-position:  center center;
    background-repeat: no-repeat;
}

.responsive .stud-pageslider .stud-slideheader0 {
    background-image:  url('images/slideheader0.png');
    background-size: auto auto;
    background-position:  center center;
    background-repeat: no-repeat;
}

.default-responsive .stud-header .stud-slideheader0 {
    background-image: url('images/slideheader0.png');
    background-size: auto auto;
    background-position: center center;
    background-repeat: no-repeat;
}

.default-responsive .stud-pageslider .stud-slideheader0 {
    background-image: url('images/slideheader0.png');
    background-size: auto auto;
    background-position: center center;
    background-repeat: no-repeat;
}.stud-slideheader1 {
    background-image:  url('images/slideheader1.png');
        background-position:  center center;
    background-repeat: no-repeat;
}

/* special setup for header/pageslider */
.responsive .stud-header .stud-slideheader1 {
    background-image:  url('images/slideheader1.png');
    background-size: auto auto;
    background-position:  center center;
    background-repeat: no-repeat;
}

.responsive .stud-pageslider .stud-slideheader1 {
    background-image:  url('images/slideheader1.png');
    background-size: auto auto;
    background-position:  center center;
    background-repeat: no-repeat;
}

.default-responsive .stud-header .stud-slideheader1 {
    background-image: url('images/slideheader1.png');
    background-size: auto auto;
    background-position: center center;
    background-repeat: no-repeat;
}

.default-responsive .stud-pageslider .stud-slideheader1 {
    background-image: url('images/slideheader1.png');
    background-size: auto auto;
    background-position: center center;
    background-repeat: no-repeat;
}.stud-slideheader2 {
    background-image:  url('images/slideheader2.png');
        background-position:  center center;
    background-repeat: no-repeat;
}

/* special setup for header/pageslider */
.responsive .stud-header .stud-slideheader2 {
    background-image:  url('images/slideheader2.png');
    background-size: auto auto;
    background-position:  center center;
    background-repeat: no-repeat;
}

.responsive .stud-pageslider .stud-slideheader2 {
    background-image:  url('images/slideheader2.png');
    background-size: auto auto;
    background-position:  center center;
    background-repeat: no-repeat;
}

.default-responsive .stud-header .stud-slideheader2 {
    background-image: url('images/slideheader2.png');
    background-size: auto auto;
    background-position: center center;
    background-repeat: no-repeat;
}

.default-responsive .stud-pageslider .stud-slideheader2 {
    background-image: url('images/slideheader2.png');
    background-size: auto auto;
    background-position: center center;
    background-repeat: no-repeat;
}

.stud-slidenavigatorheader {
  display: inline-block;
  position: absolute;
  direction: ltr !important;
  top: 208px;
  left: 0%;
  z-index: 101;
  line-height: 0 !important;
  -webkit-background-origin: border !important;
  -moz-background-origin: border !important;
  background-origin: border-box !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
    white-space: nowrap;
      right: 0px;
  }
.stud-slidenavigatorheader
{
background: #F9C367;background: transparent;



padding:5px;





}
.stud-slidenavigatorheader > a
{
background: #A26907;
-webkit-border-radius:20%;-moz-border-radius:20%;border-radius:20%;



margin:0 10px 0 0;

width: 7px;

height: 7px;
}
.stud-slidenavigatorheader > a.active
{
background: #3E4747;background: -webkit-linear-gradient(top, #819292 0, #778888 11%, #262C2C 100%) no-repeat;background: -moz-linear-gradient(top, #819292 0, #778888 11%, #262C2C 100%) no-repeat;background: -o-linear-gradient(top, #819292 0, #778888 11%, #262C2C 100%) no-repeat;background: -ms-linear-gradient(top, #819292 0, #778888 11%, #262C2C 100%) no-repeat;-svg-background: linear-gradient(top, #819292 0, #778888 11%, #262C2C 100%) no-repeat;background: linear-gradient(to bottom, #819292 0, #778888 11%, #262C2C 100%) no-repeat;
-webkit-border-radius:20%;-moz-border-radius:20%;border-radius:20%;



margin:0 10px 0 0;

width: 7px;

height: 7px;
}
.stud-slidenavigatorheader > a:hover
{
background: #907041;
-webkit-border-radius:20%;-moz-border-radius:20%;border-radius:20%;



margin:0 10px 0 0;

width: 7px;

height: 7px;
}

.stud-headline
{
  display: inline-block;
  position: absolute;
  min-width: 50px;
  top: 21px;
  left: 4.43%;
  margin-left: -17px !important;
  line-height: 100%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 101;
}

.stud-headline, 
.stud-headline a, 
.stud-headline a:link, 
.stud-headline a:visited, 
.stud-headline a:hover
{
font-size: 36px;
font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
font-weight: bold;
font-style: normal;
text-decoration: none;
text-transform: uppercase;
  padding: 0;
  margin: 0;
  color: #FFFFFF !important;
  white-space: nowrap;
}




.stud-footer .layout-item-0 { padding: 20px;  }
.ie7 .stud-post .stud-layout-cell {border:none !important; padding:0 !important; }
.ie6 .stud-post .stud-layout-cell {border:none !important; padding:0 !important; }

.stud-header
{
   -webkit-box-shadow:0 0 7px 4px rgba(0, 0, 0, 0.06);
   -moz-box-shadow:0 0 7px 4px rgba(0, 0, 0, 0.06);
   box-shadow:0 0 7px 4px rgba(0, 0, 0, 0.06);
   margin:0 auto;
   background-repeat: no-repeat;
   height: 225px;
   background-image: none;
   background-position: 0 0;
   position: relative;
   min-width: 700px;
   max-width: 1920px;
   width: 100%;
   z-index: auto !important;
}

.custom-responsive .stud-header
{
   background-image: none;
   background-position: 0 0;
}

.default-responsive .stud-header,
.default-responsive #stud-header-bg
{
   background-image: none;
   background-position: center center;
   background-size: auto;
}

.stud-header > .region, .stud-header > .block 
{
   position:absolute;
   z-index:101;
}

.stud-nav
{
   background: #C1A376;
   background: transparent;
   position: absolute;
   margin: 0;
   top:     10px;
   width: 100%;
   z-index: 100;
   text-align: right;
}

ul.stud-hmenu a, ul.stud-hmenu a:link, ul.stud-hmenu a:visited, ul.stud-hmenu a:hover 
{
   outline: none;
   position: relative;
   z-index: 11;
}

ul.stud-hmenu, ul.stud-hmenu ul
{
   display: block;
   margin: 0;
   padding: 0;
   border: 0;
   list-style-type: none;
}

ul.stud-hmenu li
{
   position: relative;
   z-index: 5;
   display: block;
   float: left;
   background: none;
   margin: 0;
   padding: 0;
   border: 0;
}

ul.stud-hmenu li:hover
{
   z-index: 10000;
   white-space: normal;
}

ul.stud-hmenu:after, ul.stud-hmenu ul:after
{
   content: ".";
   height: 0;
   display: block;
   visibility: hidden;
   overflow: hidden;
   clear: both;
}

ul.stud-hmenu, ul.stud-hmenu ul 
{
   min-height: 0;
}

ul.stud-hmenu 
{
   display: inline-block;
   vertical-align: bottom;
}

.stud-nav:before 
{
   content:' ';
}

.stud-hmenu-extra1
{
   position: relative;
   display: block;
   float: left;
   width: auto;
   height: auto;
   background-position: center;
}

.stud-hmenu-extra2
{
   position: relative;
   display: block;
   float: right;
   width: auto;
   height: auto;
   background-position: center;
}

.stud-menuitemcontainer
{
   margin:0 auto;
}
ul.stud-hmenu>li {
   margin-left: 3px;
}
ul.stud-hmenu>li:first-child {
   margin-left: 1px;
}
ul.stud-hmenu>li:last-child, ul.stud-hmenu>li.last-child {
   margin-right: 1px;
}

ul.stud-hmenu>li>a
{
   background: #DC8F09;
   background: -webkit-linear-gradient(top, rgba(246, 168, 35, 0.4) 0, rgba(245, 159, 10, 0.4) 25%, rgba(171, 111, 7, 0.4) 100%) no-repeat;
   background: -moz-linear-gradient(top, rgba(246, 168, 35, 0.4) 0, rgba(245, 159, 10, 0.4) 25%, rgba(171, 111, 7, 0.4) 100%) no-repeat;
   background: -o-linear-gradient(top, rgba(246, 168, 35, 0.4) 0, rgba(245, 159, 10, 0.4) 25%, rgba(171, 111, 7, 0.4) 100%) no-repeat;
   background: -ms-linear-gradient(top, rgba(246, 168, 35, 0.4) 0, rgba(245, 159, 10, 0.4) 25%, rgba(171, 111, 7, 0.4) 100%) no-repeat;
   -svg-background: linear-gradient(top, rgba(246, 168, 35, 0.4) 0, rgba(245, 159, 10, 0.4) 25%, rgba(171, 111, 7, 0.4) 100%) no-repeat;
   background: linear-gradient(to bottom, rgba(246, 168, 35, 0.4) 0, rgba(245, 159, 10, 0.4) 25%, rgba(171, 111, 7, 0.4) 100%) no-repeat;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   border:1px solid rgba(162, 105, 7, 0.4);
   padding:0 22px;
   margin:0 auto;
   position: relative;
   display: block;
   height: 36px;
   cursor: pointer;
   text-decoration: none;
   color: #FDE8C4;
   line-height: 36px;
   text-align: center;
}

.stud-hmenu>li>a, 
.stud-hmenu>li>a:link, 
.stud-hmenu>li>a:visited, 
.stud-hmenu>li>a.active, 
.stud-hmenu>li>a:hover
{
   font-size: 14px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   text-transform: uppercase;
   text-align: left;
}

ul.stud-hmenu>li>a.active
{
   background: #3E4747;
   background: -webkit-linear-gradient(top, rgba(88, 101, 101, 0.8) 0, rgba(36, 41, 41, 0.8) 100%) no-repeat;
   background: -moz-linear-gradient(top, rgba(88, 101, 101, 0.8) 0, rgba(36, 41, 41, 0.8) 100%) no-repeat;
   background: -o-linear-gradient(top, rgba(88, 101, 101, 0.8) 0, rgba(36, 41, 41, 0.8) 100%) no-repeat;
   background: -ms-linear-gradient(top, rgba(88, 101, 101, 0.8) 0, rgba(36, 41, 41, 0.8) 100%) no-repeat;
   -svg-background: linear-gradient(top, rgba(88, 101, 101, 0.8) 0, rgba(36, 41, 41, 0.8) 100%) no-repeat;
   background: linear-gradient(to bottom, rgba(88, 101, 101, 0.8) 0, rgba(36, 41, 41, 0.8) 100%) no-repeat;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   border:1px solid rgba(64, 74, 74, 0.8);
   padding:0 22px;
   margin:0 auto;
   color: #FDF0D8;
   text-decoration: none;
}

ul.stud-hmenu>li>a:visited, 
ul.stud-hmenu>li>a:hover, 
ul.stud-hmenu>li:hover>a {
   text-decoration: none;
}

ul.stud-hmenu>li>a:hover, .desktop ul.stud-hmenu>li:hover>a
{
   background: #F6AC2C;
   background: -webkit-linear-gradient(top, rgba(248, 191, 93, 0.8) 0, rgba(245, 159, 10, 0.8) 85%, rgba(230, 149, 10, 0.8) 100%) no-repeat;
   background: -moz-linear-gradient(top, rgba(248, 191, 93, 0.8) 0, rgba(245, 159, 10, 0.8) 85%, rgba(230, 149, 10, 0.8) 100%) no-repeat;
   background: -o-linear-gradient(top, rgba(248, 191, 93, 0.8) 0, rgba(245, 159, 10, 0.8) 85%, rgba(230, 149, 10, 0.8) 100%) no-repeat;
   background: -ms-linear-gradient(top, rgba(248, 191, 93, 0.8) 0, rgba(245, 159, 10, 0.8) 85%, rgba(230, 149, 10, 0.8) 100%) no-repeat;
   -svg-background: linear-gradient(top, rgba(248, 191, 93, 0.8) 0, rgba(245, 159, 10, 0.8) 85%, rgba(230, 149, 10, 0.8) 100%) no-repeat;
   background: linear-gradient(to bottom, rgba(248, 191, 93, 0.8) 0, rgba(245, 159, 10, 0.8) 85%, rgba(230, 149, 10, 0.8) 100%) no-repeat;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   border:1px solid rgba(220, 143, 9, 0.8);
   padding:0 22px;
   margin:0 auto;
}
ul.stud-hmenu>li>a:hover, 
.desktop ul.stud-hmenu>li:hover>a {
   color: #242929;
   text-decoration: none;
}

ul.stud-hmenu li li a
{
   background: #F6AC2C;
   border:1px solid #DC8F09;
   padding:0 8px;
   margin:0 auto;
}
ul.stud-hmenu li li 
{
   float: none;
   width: auto;
   margin-top: 0;
   margin-bottom: 0;
}

.desktop ul.stud-hmenu li li ul>li:first-child 
{
   margin-top: 0;
}

ul.stud-hmenu li li ul>li:last-child 
{
   margin-bottom: 0;
}

.stud-hmenu ul a
{
   display: block;
   white-space: nowrap;
   height: 26px;
   min-width: 7em;
   border: 1px solid transparent;
   text-align: left;
   line-height: 26px;
   color: #312002;
   font-size: 14px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   margin:0;
}

.stud-hmenu li li a 
{
   border-top-width: 0 !important;
}
.stud-hmenu li li:hover>a 
{
   border-top-width: 1px !important;
}
.stud-hmenu ul>li:first-child>a 
{
   border-top-width: 1px !important;
}

.stud-hmenu ul a:link, 
.stud-hmenu ul a:visited, 
.stud-hmenu ul a.active, 
.stud-hmenu ul a:hover
{
   text-align: left;
   line-height: 26px;
   color: #312002;
   font-size: 14px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   margin:0;
}

ul.stud-hmenu ul li a:hover, .desktop ul.stud-hmenu ul li:hover>a
{
   background: #DC8F09;
   border:1px solid #A26907;
   margin:0 auto;
}
.stud-hmenu ul a:hover
{
   text-decoration: underline;
   color: #131616;
}

.stud-hmenu ul li a.stud-hmenu-before-hovered 
{
   border-bottom-width: 0 !important;
}

.desktop .stud-hmenu ul li:hover>a
{
   color: #131616;
}

ul.stud-hmenu ul:before
{
   background: #FCE0B1;
   margin:0 auto;
   display: block;
   position: absolute;
   content: ' ';
   z-index: 1;
}
.desktop ul.stud-hmenu li:hover>ul {
   visibility: visible;
   top: 100%;
}
.desktop ul.stud-hmenu li li:hover>ul {
   top: 0;
   left: 100%;
}

ul.stud-hmenu ul
{
   visibility: hidden;
   position: absolute;
   z-index: 10;
   left: 0;
   top: 0;
   background-image: url('images/spacer.gif');
}

.desktop ul.stud-hmenu>li>ul
{
   padding: 10px 30px 30px 30px;
   margin: -10px 0 0 -30px;
}

.desktop ul.stud-hmenu ul ul
{
   padding: 30px 30px 30px 10px;
   margin: -30px 0 0 -10px;
}

.desktop ul.stud-hmenu ul.stud-hmenu-left-to-right 
{
   right: auto;
   left: 0;
   margin: -10px 0 0 -30px;
}

.desktop ul.stud-hmenu ul.stud-hmenu-right-to-left 
{
   left: auto;
   right: 0;
   margin: -10px -30px 0 0;
}

.desktop ul.stud-hmenu li li:hover>ul.stud-hmenu-left-to-right {
   right: auto;
   left: 100%;
}
.desktop ul.stud-hmenu li li:hover>ul.stud-hmenu-right-to-left {
   left: auto;
   right: 100%;
}

.desktop ul.stud-hmenu ul ul.stud-hmenu-left-to-right
{
   right: auto;
   left: 0;
   padding: 30px 30px 30px 10px;
   margin: -30px 0 0 -10px;
}

.desktop ul.stud-hmenu ul ul.stud-hmenu-right-to-left
{
   left: auto;
   right: 0;
   padding: 30px 10px 30px 30px;
   margin: -30px -10px 0 0;
}

.desktop ul.stud-hmenu li ul>li:first-child {
   margin-top: 0;
}
.desktop ul.stud-hmenu li ul>li:last-child {
   margin-bottom: 0;
}

.desktop ul.stud-hmenu ul ul:before
{
   border-radius: 0;
   top: 30px;
   bottom: 30px;
   right: 30px;
   left: 10px;
}

.desktop ul.stud-hmenu>li>ul:before
{
   top: 10px;
   right: 30px;
   bottom: 30px;
   left: 30px;
}

.desktop ul.stud-hmenu>li>ul.stud-hmenu-left-to-right:before {
   right: 30px;
   left: 30px;
}
.desktop ul.stud-hmenu>li>ul.stud-hmenu-right-to-left:before {
   right: 30px;
   left: 30px;
}
.desktop ul.stud-hmenu ul ul.stud-hmenu-left-to-right:before {
   right: 30px;
   left: 10px;
}
.desktop ul.stud-hmenu ul ul.stud-hmenu-right-to-left:before {
   right: 10px;
   left: 30px;
}

.stud-sheet
{
   background: #FCFDFD;
   margin:50px auto 0;
   position:relative;
   cursor:auto;
   width: 100%;
   min-width: 700px;
   max-width: 1920px;
   z-index: auto !important;
}

.stud-layout-wrapper
{
   position: relative;
   margin: 0 auto 0 auto;
   z-index: auto !important;
}

.stud-content-layout
{
   display: table;
   width: 100%;
   table-layout: fixed;
}

.stud-content-layout-row 
{
   display: table-row;
}

.stud-layout-cell
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   display: table-cell;
   vertical-align: top;
}

/* need only for content layout in post content */ 
.stud-postcontent .stud-content-layout
{
   border-collapse: collapse;
}

.stud-breadcrumbs
{
   margin:0 auto;
}

a.stud-button,
a.stud-button:link,
a:link.stud-button:link,
body a.stud-button:link,
a.stud-button:visited,
body a.stud-button:visited,
input.stud-button,
button.stud-button
{
   text-decoration: none;
   font-size: 14px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   position:relative;
   display: inline-block;
   vertical-align: middle;
   white-space: nowrap;
   text-align: center;
   color: #262C2C;
   margin: 0 5px 0 0 !important;
   overflow: visible;
   cursor: pointer;
   text-indent: 0;
   line-height: 32px;
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
}

.stud-button img
{
   margin: 0;
   vertical-align: middle;
}

.firefox2 .stud-button
{
   display: block;
   float: left;
}

input, select, textarea, a.stud-search-button span
{
   vertical-align: middle;
   font-size: 14px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

.stud-block select 
{
   width:96%;
}

input.stud-button
{
   float: none !important;
   -webkit-appearance: none;
}

.stud-button.active, .stud-button.active:hover
{
   background: #6D5531;
   background: -webkit-linear-gradient(top, rgba(144, 112, 65, 0.8) 0, rgba(70, 55, 32, 0.8) 100%) no-repeat;
   background: -moz-linear-gradient(top, rgba(144, 112, 65, 0.8) 0, rgba(70, 55, 32, 0.8) 100%) no-repeat;
   background: -o-linear-gradient(top, rgba(144, 112, 65, 0.8) 0, rgba(70, 55, 32, 0.8) 100%) no-repeat;
   background: -ms-linear-gradient(top, rgba(144, 112, 65, 0.8) 0, rgba(70, 55, 32, 0.8) 100%) no-repeat;
   -svg-background: linear-gradient(top, rgba(144, 112, 65, 0.8) 0, rgba(70, 55, 32, 0.8) 100%) no-repeat;
   background: linear-gradient(to bottom, rgba(144, 112, 65, 0.8) 0, rgba(70, 55, 32, 0.8) 100%) no-repeat;
   -webkit-border-radius:5px;
   -moz-border-radius:5px;
   border-radius:5px;
   -webkit-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.12);
   -moz-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.12);
   box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.12);
   border:1px solid rgba(129, 146, 146, 0.8);
   padding:0 15px;
   margin:0 auto;
}
.stud-button.active, .stud-button.active:hover {
   color: #DCE0E0 !important;
}

.stud-button.hover, .stud-button:hover
{
   background: #DC8F09;
   background: -webkit-linear-gradient(top, rgba(246, 168, 35, 0.8) 0, rgba(245, 159, 10, 0.8) 25%, rgba(171, 111, 7, 0.8) 100%) no-repeat;
   background: -moz-linear-gradient(top, rgba(246, 168, 35, 0.8) 0, rgba(245, 159, 10, 0.8) 25%, rgba(171, 111, 7, 0.8) 100%) no-repeat;
   background: -o-linear-gradient(top, rgba(246, 168, 35, 0.8) 0, rgba(245, 159, 10, 0.8) 25%, rgba(171, 111, 7, 0.8) 100%) no-repeat;
   background: -ms-linear-gradient(top, rgba(246, 168, 35, 0.8) 0, rgba(245, 159, 10, 0.8) 25%, rgba(171, 111, 7, 0.8) 100%) no-repeat;
   -svg-background: linear-gradient(top, rgba(246, 168, 35, 0.8) 0, rgba(245, 159, 10, 0.8) 25%, rgba(171, 111, 7, 0.8) 100%) no-repeat;
   background: linear-gradient(to bottom, rgba(246, 168, 35, 0.8) 0, rgba(245, 159, 10, 0.8) 25%, rgba(171, 111, 7, 0.8) 100%) no-repeat;
   -webkit-border-radius:5px;
   -moz-border-radius:5px;
   border-radius:5px;
   -webkit-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.12);
   -moz-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.12);
   box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.12);
   border:1px solid rgba(162, 105, 7, 0.8);
   padding:0 15px;
   margin:0 auto;
}
.stud-button.hover, .stud-button:hover {
   color: #231B10 !important;
}

input[type="text"], input[type="search"], input[type="password"], input[type="email"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="number"], input[type="range"], input[type="tel"], input[type="time"], input[type="week"], textarea
{
   background: #FCFDFD;
   border:2px solid #B5BFBF;
   margin:0 auto;
}
input[type="text"], input[type="search"], input[type="password"], input[type="email"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="number"], input[type="range"], input[type="tel"], input[type="time"], input[type="week"], textarea
{
   width: 100%;
   padding: 8px 0;
   color: #262C2C !important;
   font-size: 14px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-shadow: none;
}
input.stud-error, textarea.stud-error
{
   background: #FCFDFD;
   border:1px solid #E2341D;
   margin:0 auto;
}
input.stud-error, textarea.stud-error {
   color: #262C2C !important;
   font-size: 14px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
form.stud-search input[type="text"], form.stud-search input[type="search"]
{
   background: #FCFDFD;
   -webkit-border-radius:6px;
   -moz-border-radius:6px;
   border-radius:6px;
   border:1px solid #B5BFBF;
   margin:0 auto;
}
form.stud-search 
{
   background-image: none;
   border: 0;
   display:block;
   position:relative;
   top:0;
   padding:0;
   margin:5px;
   left:0;
   line-height: 0;
}

form.stud-search input, a.stud-search-button
{
   -webkit-appearance: none;
   top:0;
   right:0;
}

form.stud-search>input, a.stud-search-button{
   bottom:0;
   left:0;
   vertical-align: middle;
}

form.stud-search input[type="text"], form.stud-search input[type="search"] {
   width: 100%;
   padding: 5px 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   color: #262C2C !important;
   font-size: 14px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

form.stud-search input[type="submit"], input.stud-search-button, a.stud-search-button
{
   background: #9DAAAA;
   -webkit-border-radius:0 5px 5px 0;
   -moz-border-radius:0 5px 5px 0;
   border-radius:0 5px 5px 0;
   margin:0 auto;
}
form.stud-search input[type="submit"], input.stud-search-button, a.stud-search-button {
   position:absolute;
   left:auto;
   display:block;
   border: 0;
   top: 1px;
   bottom: 1px;
   right: 	1px;
   padding:0 6px;
   color: #1A1E1E !important;
   font-size: 14px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   cursor: pointer;
}

a.stud-search-button span.stud-search-button-text, a.stud-search-button:after {
   vertical-align:middle;
}

a.stud-search-button:after {
   display:inline-block;
   content:' ';
   height: 100%;
}

a.stud-search-button, a.stud-search-button span,
a.stud-search-button:visited, a.stud-search-button.visited,
a.stud-search-button:hover, a.stud-search-button.hover 
{
   text-decoration: none;
   font-size: 14px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

a.stud-search-button 
{
   line-height: 100% !important;
}

label.stud-checkbox:before
{
   background: #FCFDFD;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   border-width: 0;
   margin:0 auto;
   width:16px;
   height:16px;
}
label.stud-checkbox
{
   cursor: pointer;
   font-size: 14px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 16px;
   display: inline-block;
   color: #262C2C !important;
}

.stud-checkbox>input[type="checkbox"]
{
   margin: 0 5px 0 0;
}

label.stud-checkbox.active:before
{
   background: #F6AC2C;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   border-width: 0;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.stud-checkbox.hovered:before
{
   background: #F6AC2C;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   border-width: 0;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.stud-radiobutton:before
{
   background: #FCFDFD;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   border-width: 0;
   margin:0 auto;
   width:12px;
   height:12px;
}
label.stud-radiobutton
{
   cursor: pointer;
   font-size: 14px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 12px;
   display: inline-block;
   color: #262C2C !important;
}

.stud-radiobutton>input[type="radio"]
{
   vertical-align: baseline;
   margin: 0 5px 0 0;
}

label.stud-radiobutton.active:before
{
   background: #F6AC2C;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   border-width: 0;
   margin:0 auto;
   width:12px;
   height:12px;
   display: inline-block;
}

label.stud-radiobutton.hovered:before
{
   background: #F6AC2C;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   border-width: 0;
   margin:0 auto;
   width:12px;
   height:12px;
   display: inline-block;
}

.stud-comments
{
   border-top:1px dotted #B5BFBF;
   margin:0 auto;
   margin-top: 25px;
}

.stud-comments h2
{
   color: #262C2C;
}

.stud-comment-inner
{
   background: #FEF3E2;
   background: transparent;
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   padding:5px;
   margin:0 auto;
   margin-left: 94px;
}
.stud-comment-avatar 
{
   float:left;
   width:80px;
   height:80px;
   padding:1px;
   background:#fff;
   border:1px solid #F6AC2C;
}

.stud-comment-avatar>img
{
   margin:0 !important;
   border:none !important;
}

.stud-comment-content
{
   padding:10px 0;
   color: #262C2C;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.stud-comment
{
   margin-top: 6px;
}

.stud-comment:first-child
{
   margin-top: 0;
}

.stud-comment-header
{
   color: #262C2C;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   line-height: 100%;
}

.stud-comment-header a, 
.stud-comment-header a:link, 
.stud-comment-header a:visited,
.stud-comment-header a.visited,
.stud-comment-header a:hover,
.stud-comment-header a.hovered
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   line-height: 100%;
}

.stud-comment-header a, .stud-comment-header a:link
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   color: #764C05;
}

.stud-comment-header a:visited, .stud-comment-header a.visited
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   color: #4C5757;
}

.stud-comment-header a:hover,  .stud-comment-header a.hovered
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   color: #394141;
}

.stud-comment-content a, 
.stud-comment-content a:link, 
.stud-comment-content a:visited,
.stud-comment-content a.visited,
.stud-comment-content a:hover,
.stud-comment-content a.hovered
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.stud-comment-content a, .stud-comment-content a:link
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   color: #764C05;
}

.stud-comment-content a:visited, .stud-comment-content a.visited
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   color: #4C5757;
}

.stud-comment-content a:hover,  .stud-comment-content a.hovered
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   color: #394141;
}

.stud-pager
{
   background: #FEF2DD;
   background: -webkit-linear-gradient(top, #FFFFFF 0, #F8BE59 100%) no-repeat;
   background: -moz-linear-gradient(top, #FFFFFF 0, #F8BE59 100%) no-repeat;
   background: -o-linear-gradient(top, #FFFFFF 0, #F8BE59 100%) no-repeat;
   background: -ms-linear-gradient(top, #FFFFFF 0, #F8BE59 100%) no-repeat;
   -svg-background: linear-gradient(top, #FFFFFF 0, #F8BE59 100%) no-repeat;
   background: linear-gradient(to bottom, #FFFFFF 0, #F8BE59 100%) no-repeat;
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   border:1px solid #F6AC2C;
   padding:5px;
}

.stud-pager>*:last-child
{
   margin-right:0 !important;
}

.stud-pager>span {
   cursor:default;
}

.stud-pager>*
{
   background: #FCE0B1;
   background: -webkit-linear-gradient(top, #FFFFFF 0, #F8BF5D 100%) no-repeat;
   background: -moz-linear-gradient(top, #FFFFFF 0, #F8BF5D 100%) no-repeat;
   background: -o-linear-gradient(top, #FFFFFF 0, #F8BF5D 100%) no-repeat;
   background: -ms-linear-gradient(top, #FFFFFF 0, #F8BF5D 100%) no-repeat;
   -svg-background: linear-gradient(top, #FFFFFF 0, #F8BF5D 100%) no-repeat;
   background: linear-gradient(to bottom, #FFFFFF 0, #F8BF5D 100%) no-repeat;
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   border:1px solid #F6AC2C;
   padding:7px;
   margin:0 4px 0 auto;
   line-height: normal;
   position:relative;
   display:inline-block;
   margin-left: 0;
}

.stud-pager a:link,
.stud-pager a:visited,
.stud-pager .active
{
   line-height: normal;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   color: #1C2121
;
}

.stud-pager .active
{
   background: #F6AC2C;
   background: -webkit-linear-gradient(top, #F9C976 0, #F59F0A 73%, #CE8509 100%) no-repeat;
   background: -moz-linear-gradient(top, #F9C976 0, #F59F0A 73%, #CE8509 100%) no-repeat;
   background: -o-linear-gradient(top, #F9C976 0, #F59F0A 73%, #CE8509 100%) no-repeat;
   background: -ms-linear-gradient(top, #F9C976 0, #F59F0A 73%, #CE8509 100%) no-repeat;
   -svg-background: linear-gradient(top, #F9C976 0, #F59F0A 73%, #CE8509 100%) no-repeat;
   background: linear-gradient(to bottom, #F9C976 0, #F59F0A 73%, #CE8509 100%) no-repeat;
   border:1px solid #F6AC2C;
   padding:7px;
   margin:0 4px 0 auto;
   color: #111313
;
}

.stud-pager .more
{
   background: #FCE0B1;
   background: -webkit-linear-gradient(top, #FFFFFF 0, #F8BF5D 100%) no-repeat;
   background: -moz-linear-gradient(top, #FFFFFF 0, #F8BF5D 100%) no-repeat;
   background: -o-linear-gradient(top, #FFFFFF 0, #F8BF5D 100%) no-repeat;
   background: -ms-linear-gradient(top, #FFFFFF 0, #F8BF5D 100%) no-repeat;
   -svg-background: linear-gradient(top, #FFFFFF 0, #F8BF5D 100%) no-repeat;
   background: linear-gradient(to bottom, #FFFFFF 0, #F8BF5D 100%) no-repeat;
   border:1px solid #F6AC2C;
   margin:0 4px 0 auto;
}
.stud-pager a.more:link,
.stud-pager a.more:visited
{
   color: #1C2121
;
}
.stud-pager a:hover
{
   background: #F6AC2C;
   background: -webkit-linear-gradient(top, #F9C976 0, #F59F0A 73%, #CE8509 100%) no-repeat;
   background: -moz-linear-gradient(top, #F9C976 0, #F59F0A 73%, #CE8509 100%) no-repeat;
   background: -o-linear-gradient(top, #F9C976 0, #F59F0A 73%, #CE8509 100%) no-repeat;
   background: -ms-linear-gradient(top, #F9C976 0, #F59F0A 73%, #CE8509 100%) no-repeat;
   -svg-background: linear-gradient(top, #F9C976 0, #F59F0A 73%, #CE8509 100%) no-repeat;
   background: linear-gradient(to bottom, #F9C976 0, #F59F0A 73%, #CE8509 100%) no-repeat;
   border:1px solid #F6AC2C;
   padding:7px;
   margin:0 4px 0 auto;
}
.stud-pager  a:hover,
.stud-pager  a.more:hover
{
   text-decoration: none;
   color: #111313
;
}
.stud-pager>*:after
{
   margin:0 0 0 auto;
   display:inline-block;
   position:absolute;
   content: ' ';
   top:0;
   width:0;
   height:100%;
   right: 0;
   text-decoration:none;
}

.stud-pager>*:last-child:after{
   display:none;
}

.stud-commentsform
{
   background: #FEF3E2;
   background: transparent;
   padding:10px;
   margin:0 auto;
   margin-top:25px;
   color: #262C2C;
}

.stud-commentsform h2{
   padding-bottom:10px;
   margin: 0;
   color: #262C2C;
}

.stud-commentsform label {
   display: inline-block;
   line-height: 25px;
}

.stud-commentsform input:not([type=submit]), .stud-commentsform textarea {
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   width:100%;
   max-width:100%;
}

.stud-commentsform .form-submit
{
   margin-top: 10px;
}
.stud-block
{
   margin:7px;
}
div.stud-block img
{
   border: none;
   margin: 10px;
}

.stud-blockheader
{
   background: #F6AC2C;
   background: rgba(246, 172, 44, 0.4);
   -webkit-border-radius:10px 10px 0 0;
   -moz-border-radius:10px 10px 0 0;
   border-radius:10px 10px 0 0;
   padding:12px 3px;
   margin:0 auto 4px;
}
.stud-blockheader .t,
.stud-blockheader .t a,
.stud-blockheader .t a:link,
.stud-blockheader .t a:visited, 
.stud-blockheader .t a:hover
{
   color: #533603;
   font-size: 22px;
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
   font-weight: normal;
   font-style: normal;
   margin: 0 5px;
}

.stud-blockcontent
{
   padding:3px;
   margin:0 auto;
   color: #262C2C;
   font-size: 14px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   line-height: 175%;
}
.stud-blockcontent table,
.stud-blockcontent li, 
.stud-blockcontent a,
.stud-blockcontent a:link,
.stud-blockcontent a:visited,
.stud-blockcontent a:hover
{
   color: #262C2C;
   font-size: 14px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   line-height: 175%;
}

.stud-blockcontent p
{
   margin: 0 5px;
}

.stud-blockcontent a, .stud-blockcontent a:link
{
   color: #F09C0A;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.stud-blockcontent a:visited, .stud-blockcontent a.visited
{
   color: #B0BABA;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
}

.stud-blockcontent a:hover, .stud-blockcontent a.hover
{
   color: #F7B440;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
}
.stud-block ul>li:before
{
   content:url('images/blockbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   margin-left: -11px;
}
.opera .stud-block ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.stud-block li
{
   font-size: 14px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   line-height: 175%;
   color: #131616;
   margin: 5px 0 0 10px;
}

.stud-block ul>li, .stud-block ol
{
   padding: 0;
}

.stud-block ul>li
{
   padding-left: 11px;
}

.stud-post
{
   padding:5px;
   margin:7px;
}
a img
{
   border: 0;
}

.stud-article img, img.stud-article, .stud-block img, .stud-footer img
{
   border: 1px solid #819292;
   margin: 5px 5px 5px 5px;
}

.stud-metadata-icons img
{
   border: none;
   vertical-align: middle;
   margin: 2px;
}

.stud-article table, table.stud-article
{
   border-collapse: collapse;
   margin: 1px;
}

.stud-post .stud-content-layout-br
{
   height: 0;
}

.stud-article th, .stud-article td
{
   padding: 2px;
   border: dotted 1px #819292;
   vertical-align: top;
   text-align: left;
}

.stud-article th
{
   text-align: center;
   vertical-align: middle;
   padding: 7px;
}

pre
{
   overflow: auto;
   padding: 0.1em;
}

.preview-cms-logo
{
   border: 0;
   margin: 1em 1em 0 0;
   float: left;
}

.image-caption-wrapper
{
   padding: 5px 5px 5px 5px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper img
{
   margin: 0 !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper div.stud-collage
{
   margin: 0 !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper p
{
   font-size: 80%;
   text-align: right;
   margin: 0;
}

.stud-postmetadataheader
{
   background: #F9C367;
   background: rgba(249, 195, 103, 0.6);
   margin:0 auto;
   position:relative;
   z-index:1;
   padding: 1px;
}

.stud-postheader
{
   color: #533603;
   margin: 5px 10px;
   font-size: 26px;
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
   font-weight: normal;
   font-style: normal;
}

.stud-postheader a, 
.stud-postheader a:link, 
.stud-postheader a:visited,
.stud-postheader a.visited,
.stud-postheader a:hover,
.stud-postheader a.hovered
{
   font-size: 26px;
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
   font-weight: normal;
   font-style: normal;
}

.stud-postheader a, .stud-postheader a:link
{
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
   text-decoration: none;
   text-align: left;
   color: #845606;
}

.stud-postheader a:visited, .stud-postheader a.visited
{
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
   text-decoration: none;
   text-align: left;
   color: #647373;
}

.stud-postheader a:hover,  .stud-postheader a.hovered
{
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
   text-decoration: none;
   text-align: left;
   color: #404A4A;
}

.stud-postheadericons,
.stud-postheadericons a,
.stud-postheadericons a:link,
.stud-postheadericons a:visited,
.stud-postheadericons a:hover
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   color: #513F24;
}

.stud-postheadericons
{
   padding: 1px;
   margin: 0 0 0 10px;
}

.stud-postheadericons a, .stud-postheadericons a:link
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   color: #111313;
}

.stud-postheadericons a:visited, .stud-postheadericons a.visited
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   color: #343C3C;
}

.stud-postheadericons a:hover, .stud-postheadericons a.hover
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: underline;
   color: #6C4604;
}

.stud-postdateicon:before
{
   content:url('images/postdateicon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .stud-postdateicon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.stud-postauthoricon:before
{
   content:url('images/postauthoricon.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .stud-postauthoricon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.stud-postpdficon:before
{
   content:url('images/postpdficon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .stud-postpdficon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.stud-postprinticon:before
{
   content:url('images/postprinticon.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .stud-postprinticon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.stud-postemailicon:before
{
   content:url('images/postemailicon.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .stud-postemailicon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.stud-postediticon:before
{
   content:url('images/postediticon.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .stud-postediticon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.stud-postcontent ul>li:before,  .stud-post ul>li:before,  .stud-textblock ul>li:before
{
   content:url('images/postbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .stud-postcontent ul>li:before, .opera   .stud-post ul>li:before, .opera   .stud-textblock ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.stud-postcontent li, .stud-post li, .stud-textblock li
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   color: #394141;
   margin: 3px 0 0 11px;
}

.stud-postcontent ul>li, .stud-post ul>li, .stud-textblock ul>li, .stud-postcontent ol, .stud-post ol, .stud-textblock ol
{
   padding: 0;
}

.stud-postcontent ul>li, .stud-post ul>li, .stud-textblock ul>li
{
   padding-left: 14px;
}

.stud-postcontent ul>li:before,  .stud-post ul>li:before,  .stud-textblock ul>li:before
{
   margin-left: -14px;
}

.stud-postcontent ol, .stud-post ol, .stud-textblock ol, .stud-postcontent ul, .stud-post ul, .stud-textblock ul
{
   margin: 1em 0 1em 11px;
}

.stud-postcontent li ol, .stud-post li ol, .stud-textblock li ol, .stud-postcontent li ul, .stud-post li ul, .stud-textblock li ul
{
   margin: 0.5em 0 0.5em 11px;
}

.stud-postcontent li, .stud-post li, .stud-textblock li
{
   margin: 3px 0 0 0;
}

.stud-postcontent ol>li, .stud-post ol>li, .stud-textblock ol>li
{
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

.stud-postcontent ul>li, .stud-post ul>li, .stud-textblock ul>li
{
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

blockquote
{
   background: #B5BFBF url('images/postquote.png') no-repeat scroll;
   border:1px solid #9DAAAA;
   padding:12px 12px 12px 36px;
   margin:0 0 0 20px;
   color: #0E0B06;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-align: left;
   /* makes block not to align behind the image if they are in the same line */
  overflow: auto;
   clear:both;
}
blockquote a, .stud-postcontent blockquote a, .stud-blockcontent blockquote a, .stud-footer blockquote a,
blockquote a:link, .stud-postcontent blockquote a:link, .stud-blockcontent blockquote a:link, .stud-footer blockquote a:link,
blockquote a:visited, .stud-postcontent blockquote a:visited, .stud-blockcontent blockquote a:visited, .stud-footer blockquote a:visited,
blockquote a:hover, .stud-postcontent blockquote a:hover, .stud-blockcontent blockquote a:hover, .stud-footer blockquote a:hover
{
   color: #0E0B06;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-align: left;
}

/* Override native 'p' margins*/
blockquote p,
.stud-postcontent blockquote p,
.stud-blockcontent blockquote p,
.stud-footer blockquote p
{
   margin: 0;
   margin: 5px 0;
}

.stud-postmetadatafooter
{
   background: #F9C367;
   background: rgba(249, 195, 103, 0.6);
   -webkit-border-radius:6px;
   -moz-border-radius:6px;
   border-radius:6px;
   border:1px dotted #F6AC2C;
   margin:0 auto;
   position:relative;
   z-index:1;
   padding: 1px;
}

.stud-postfootericons,
.stud-postfootericons a,
.stud-postfootericons a:link,
.stud-postfootericons a:visited,
.stud-postfootericons a:hover
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   color: #66502E;
}

.stud-postfootericons
{
   padding: 1px;
   margin: 0 0 0 10px;
}

.stud-postfootericons a, .stud-postfootericons a:link
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   color: #111313;
}

.stud-postfootericons a:visited, .stud-postfootericons a.visited
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   color: #343C3C;
}

.stud-postfootericons a:hover, .stud-postfootericons a.hover
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   color: #6C4604;
}

.stud-postcategoryicon:before
{
   content:url('images/postcategoryicon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .stud-postcategoryicon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.stud-posttagicon:before
{
   content:url('images/posttagicon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .stud-posttagicon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.stud-postcommentsicon:before
{
   content:url('images/postcommentsicon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .stud-postcommentsicon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.stud-footer
{
   background: #535F5F;
   background: rgba(83, 95, 95, 0.8);
   margin:30px auto 0;
   position: relative;
   color: #000000;
   font-size: 14px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   line-height: 175%;
   text-align: left;
}

.stud-footer a,
.stud-footer a:link,
.stud-footer a:visited,
.stud-footer a:hover,
.stud-footer td, 
.stud-footer th,
.stud-footer caption
{
   color: #000000;
   font-size: 14px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   line-height: 175%;
}

.stud-footer p 
{
   padding:0;
   text-align: left;
}

.stud-footer a,
.stud-footer a:link
{
   color: #FBDCA7;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
}

.stud-footer a:visited
{
   color: #E1E5E5;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
}

.stud-footer a:hover
{
   color: #FDEAC9;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: underline;
}

.stud-footer h1
{
   color: #819292;
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

.stud-footer h2
{
   color: #819292;
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

.stud-footer h3
{
   color: #9DAAAA;
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

.stud-footer h4
{
   color: #6B7B7B;
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

.stud-footer h5
{
   color: #6B7B7B;
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

.stud-footer h6
{
   color: #6B7B7B;
   font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
}

.stud-footer img
{
   border: none;
   margin: 5px;
}

.stud-rss-tag-icon
{
   background:  url('images/footerrssicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.stud-rss-tag-icon:empty
{
   vertical-align: middle;
}

.stud-facebook-tag-icon
{
   background:  url('images/footerfacebookicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.stud-facebook-tag-icon:empty
{
   vertical-align: middle;
}

.stud-twitter-tag-icon
{
   background:  url('images/footertwittericon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.stud-twitter-tag-icon:empty
{
   vertical-align: middle;
}

.stud-tumblr-tag-icon
{
   background:  url('images/tumblricon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.stud-tumblr-tag-icon:empty
{
   vertical-align: middle;
}

.stud-pinterest-tag-icon
{
   background:  url('images/pinteresticon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.stud-pinterest-tag-icon:empty
{
   vertical-align: middle;
}

.stud-vimeo-tag-icon
{
   background:  url('images/vimeoicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:33px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.stud-vimeo-tag-icon:empty
{
   vertical-align: middle;
}

.stud-youtube-tag-icon
{
   background:  url('images/youtubeicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.stud-youtube-tag-icon:empty
{
   vertical-align: middle;
}

.stud-linkedin-tag-icon
{
   background:  url('images/linkedinicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.stud-linkedin-tag-icon:empty
{
   vertical-align: middle;
}

.stud-footer li
{
   font-size: 14px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   color: #070808;
}

.stud-page-footer, 
.stud-page-footer a,
.stud-page-footer a:link,
.stud-page-footer a:visited,
.stud-page-footer a:hover
{
   font-family: Arial;
   font-size: 10px;
   letter-spacing: normal;
   word-spacing: normal;
   font-style: normal;
   font-weight: normal;
   text-decoration: underline;
   color: #0E1010;
}

.stud-page-footer
{
   position: relative;
   z-index: auto !important;
   padding: 1em;
   text-align: center !important;
   text-decoration: none;
   color: #2F3737;
}

.stud-lightbox-wrapper 
{
   background: #333;
   background: rgba(0, 0, 0, .8);
   bottom: 0;
   left: 0;
   padding: 0 100px;
   position: fixed;
   right: 0;
   text-align: center;
   top: 0;
   z-index: 1000000;
}

.stud-lightbox,
.stud-lightbox-wrapper .stud-lightbox-image
{
   cursor: pointer;
}

.stud-lightbox-wrapper .stud-lightbox-image
{
   border: 6px solid #fff;
   border-radius: 3px;
   display: none;
   max-width: 100%;
   vertical-align: middle;
}

.stud-lightbox-wrapper .stud-lightbox-image.active
{
   display: inline-block;
}

.stud-lightbox-wrapper .lightbox-error
{
   background: #fff;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
   height: 80px;
   opacity: .95;
   padding: 20px;
   position: fixed;
   width: 300px;
   z-index: 100;
}

.stud-lightbox-wrapper .loading
{
   background: #fff url('images/preloader-01.gif') center center no-repeat;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
   height: 32px;
   opacity: .5;
   padding: 10px;
   position: fixed;
   width: 32px;
   z-index: 10100;
}

.stud-lightbox-wrapper .arrow
{
   cursor: pointer;
   height: 100px;
   opacity: .5;
   filter: alpha(opacity=50);
   position: fixed;
   width: 82px;
   z-index: 10003;
}

.stud-lightbox-wrapper .arrow.left
{
   left: 9px;
}

.stud-lightbox-wrapper .arrow.right
{
   right: 9px;
}

.stud-lightbox-wrapper .arrow:hover
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.stud-lightbox-wrapper .arrow.disabled 
{
   display: none;
}

.stud-lightbox-wrapper .arrow-t, 
.stud-lightbox-wrapper .arrow-b
{
   background-color: #fff;
   border-radius: 3px;
   height: 6px;
   left: 26px;
   position: relative;
   width: 30px;
}

.stud-lightbox-wrapper .arrow-t
{
   top: 38px;
}

.stud-lightbox-wrapper .arrow-b
{
   top: 50px;
}

.stud-lightbox-wrapper .close
{
   cursor: pointer;
   height: 22px;
   opacity: .5;
   filter: alpha(opacity=50);
   position: fixed;
   right: 39px;
   top: 30px;
   width: 22px;
   z-index: 10003;
}

.stud-lightbox-wrapper .close:hover 
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.stud-lightbox-wrapper .close .cw, 
.stud-lightbox-wrapper .close .ccw
{
   background-color: #fff;
   border-radius: 3px;
   height: 6px;
   position: absolute;
   left: -4px;
   top: 8px;
   width: 30px;
}

.stud-lightbox-wrapper .cw
{
   transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   /* IE 9 */
    -webkit-transform: rotate(45deg);
   /* Safari and Chrome */
    -o-transform: rotate(45deg);
   /* Opera */
    -moz-transform: rotate(45deg);
/* Firefox */}

.stud-lightbox-wrapper .ccw
{
   transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   /* IE 9 */
    -webkit-transform: rotate(-45deg);
   /* Safari and Chrome */
    -o-transform: rotate(-45deg);
   /* Opera */
    -moz-transform: rotate(-45deg);
/* Firefox */}

.stud-lightbox-wrapper .close-alt, 
.stud-lightbox-wrapper .arrow-right-alt, 
.stud-lightbox-wrapper .arrow-left-alt 
{
   color: #fff;
   display: none;
   font-size: 2.5em;
   line-height: 100%;
}

.ie8 .stud-lightbox-wrapper .close-alt, 
.ie8 .stud-lightbox-wrapper .arrow-right-alt, 
.ie8 .stud-lightbox-wrapper .arrow-left-alt 
{
   display: block;
}

.ie8 .stud-lightbox-wrapper .cw, 
.ie8 .stud-lightbox-wrapper .ccw 
{
   display: none;
}

.stud-content-layout .stud-content
{
   margin:0 auto;
}

.stud-content-layout .stud-sidebar1
{
   margin:0 auto;
   width: 250px;
}

/* Begin Additional CSS Styles */
.stud-logo-name {
text-shadow: 2px 2px #000000;
}
.stud-logo-text {
text-shadow: 2px 2px #000000;
margin-top: -10px
}
.newsdate {
background: #BBBBBB;
-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;
color: #FFFFFF;
padding: 10px;
width: 48px;
height: 48px;
float: left;
margin-right: 10px;
margin-bottom: 10px;
text-align:center;
}

#g1 {
-webkit-border-top-left-radius: 7px;
-webkit-border-bottom-left-radius: 7px;
-moz-border-radius-topleft: 7px;
-moz-border-radius-bottomleft: 7px;
border-top-left-radius: 7px;
border-bottom-left-radius: 7px;
background: #246BB2;
background: -moz-linear-gradient(top, #246BB2 0%, #4A8CC2 50%, #246BB2 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#246BB2), color-stop(50%,#4A8CC2), color-stop(100%,#246BB2));
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#246BB2', endColorstr='#246BB2',GradientType=0 );
background: -o-linear-gradient(top, #246BB2 0%,#4A8CC2 50%,#246BB2 100%);
color: #FFFFFF;
padding: 20px;
}

#g2 {
background: #329306;
background: -moz-linear-gradient(top, #329306 0%, #40B608 50%, #329306 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#329306), color-stop(50%,#40B608), color-stop(100%,#329306));
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#329306', endColorstr='#329306',GradientType=0 );
background: -o-linear-gradient(top, #329306 0%,#40B608 50%,#329306 100%);
color: #FFFFFF;
padding: 20px;
}

#g3 {
-webkit-border-top-right-radius: 7px;
-webkit-border-bottom-right-radius: 7px;
-moz-border-radius-topright: 7px;
-moz-border-radius-bottomright: 7px;
border-top-right-radius: 7px;
border-bottom-right-radius: 7px;
background: #ED9017;
background: -moz-linear-gradient(top, #ED9017 0%, #F4B23F 50%, #ED9017 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ED9017), color-stop(50%,#F4B23F), color-stop(100%,#ED9017));
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ED9017', endColorstr='#ED9017',GradientType=0 );
background: -o-linear-gradient(top, #ED9017 0%,#F4B23F 50%,#ED9017 100%);
color: #FFFFFF;
padding: 20px;
}

.stud-blockheader .t, .stud-vmenublockheader .t {white-space: nowrap;}
/* End Additional CSS Styles */

body.toolbar-drawer 
{
    padding-top: 65px !important;
}

table
{
	width: 100%;
}

ul li, .item-list ul li, .menu ul li,
ul li.expanded, ul li.leaf, ul li.collapsed,
li.expanded, li.leaf, li.collapsed
{
	text-align: left;
	list-style-type: none;
	list-style-image: none;
}

ul.arttabs_primary, ul.arttabs_secondary, .links, img.service-links
{
	padding-left: 0;
	margin-left: 0;
}

ul.arttabs_primary li, ul.arttabs_secondary li
{
	display: inline;
}

ul.arttabs_primary li:before, ul.arttabs_secondary li:before
{
    content: ' ';
	margin-left: 6px;
}

ul.links
{
	overflow: hidden;
}

ul.links li, .block ul
{
	background-image: none;
	padding: 0;
}

ul.menu li a.active
{
	font-weight: bold;
}

#tinymce body ul, #tinymce body.mceContentBody ul, body.mceContentBody ul
{
  margin: 1em 0 1em 2em;
}

li.messages
{
	margin: 5px 0;
}

#user-login-form
{
	text-align: left;
}

#user-login-form ul li
{
	background-image: none;
	padding-left: 0;
}

/* Fix fieldset for IE8 and FFox */
fieldset, fieldset legend
{
	display: block;
}

.breadcrumb
{
	display: block;
	padding-bottom: .7em;
}

#preview-args
{
	width: auto;
}

.tags
{
	float: left;
}

.messages
{
	padding: 5px;
	margin: 5px 0;
}

.status
{
	border: 1px solid #090;
	background: #C9FBC8;
	margin: 5px 0;
}

tr.even, tr.odd
{
	background-color: transparent;
}

#forum .links li
{
	float: none;
	clear: both;
}

#forum table
{
	width: auto;
	margin-top: 15px;
}

#forum td.container
{
	padding-top: 15px;
	border-left: none;
	border-right: none;
}

#forum td.active
{
	background-color: transparent;
}

#forum td.forum, #forum td.topics, #forum td.posts, #forum td.last-reply
{
	padding-top: 4px;
	padding-bottom: 4px;
}

#forum td.container
{
	font-weight: bold;
}

#forum td.active
{
	background-color: transparent;
}

.forum-topic-navigation
{
	border-top: 0 transparent;
	border-bottom: 0 transparent;
}

.forum-topic-navigation .topic-previous
{
	text-align: left;
	float: left;
}

.forum-topic-navigation .topic-next
{
	text-align: right;
	float: right;
}

.read_more
{
	margin: 5px 0;
	text-align: left;
}

.sticky-table H2
{
	font-size: 10px;
}

#footer
{
	text-align: center;
}

.filefield-upload .stud-button-wrapper
{
	top: 10px;
}

.uc_out_of_stock_throbbing
{
	position: absolute;
	z-index: 1;
	top: 16%;
	left: 3px;
	margin: 0;
	padding: 0;
}

.profile h3
{
	border-bottom: 0 none;
	margin-bottom: 1em;
}

/* BEGIN Image Attach module fix */
img.image
{
	margin: 0;
}

.image-attach-teaser
{
	width: auto;
}
/* END Image Attach module fix */

/* BEGIN ImageField module fix */
img.imagefield
{
	margin: 0;
}
/* END ImageField module fix */

/* BEGIN Support User picture */
.picture, .comment .submitted
{
	clear: right;
	float: right;
}
/* END Support User picture */

/* BEGIN Support Nodeblock module */
.stud-block-body .stud-post
{
	margin: 0;
}
/* END Support Nodeblock module */

/* BEGIN Support floating panels in IE8 */
.panel-col-last
{
	clear: right;
}
/* END Support floating panels in IE8 */

/* BEGIN Support FCKEditor text alignment */
.rteleft
{
	text-align: left !important;
}

.rteright
{
	text-align: right !important;
}

.rtecenter
{
	text-align: center !important;
}

.rtejustify
{
	text-align: justify !important;
}
/* END Support FCKEditor text alignment */

/* BEGIN Set alignment for radio buttons */
input.form-radio, input.form-checkbox
{
	margin: 0 0 2px;
	vertical-align: baseline;
}
/* END Set alignment for radio buttons*/

/* BEGIN Move bradcrumb from separate post */
h2.with-tabs
{
	margin-top: 0;
	margin-bottom: 0;
}

.breadcrumb
{
	margin: 1em 0 0 0.7em;
}
/* END Move bradcrumb from separate post */

/* BEGIN Increasing distance between buttons */
span.stud-button-wrapper
{
	margin: 0 5px 0 0;
}
/* END Increasing distance between buttons */

/* BEGIN Page validation fix */
.half-width
{
	width: 50%;
}

.third-width
{
	width: 33%;
}

.two-thirds-width
{
	width: 67%;
}
/* END Page validation fix */

/* BEGIN FckEditor bug with link disappearing fixed */
#switch_oFCK_1
{
	display: block !important;
}
/* END FckEditor bug with link disappearing fixed */

.stud-postcontent .calendar-calendar ul li, .stud-postcontent .calendar-calendar ol ul li,
.stud-postcontent div.view div.views-admin-links ul li, .stud-postcontent div.view div.views-admin-links ol ul li
{
  background-image: none;
  padding: 2px;
}

.date-heading h3
{
  text-align: center;
}

tbody, tbody th, tr.even, tr.odd
{
	border: none;
}

form.comment-form input[type="submit"], form.confirmation input[type="submit"]
{
	margin-right: 10px !important;
}

/* BEGIN Taxonomy terms Artisteer styles in Drupal 7 */
.stud-tags, .stud-tags .field, .stud-tags .field .field-label,
.stud-tags .field .field-items, .stud-tags .field .field-items .field-item
{
	display: inline;
}

.stud-tags .field-item a:after
{
	content: ', ';
}

.stud-tags .field-item:last-child a:after
{
	content: '';
}
/* END Taxonomy terms Artisteer styles in Drupal 7 */

/* BEGIN Action links support in Drupal7 */
.stud-post ul.action-links li
{
	background-image: none;
	list-style-type: none;
}

.stud-post ul.action-links a
{
    background: url("images/addicon.png") no-repeat scroll 0 transparent;
    background-position: center left;
    line-height: 30px;
    padding-left: 15px;
}
/* END Action links support in Drupal7 */

/* BEGIN Overlay module support */
#overlay #overlay-content #stud-page-background-middle-texture
{
    background-image: none;
}

#overlay-tabs li a, #overlay-tabs li a:active, #overlay-tabs li a:visited, #overlay-tabs li a:hover
{
    background-color: transparent;
    font-weight: normal; 
}
/* END Overlay module support */

/* BEGIN Front page list view support */
#first-time ol
{
    list-style-position: outside;
}
/* END Front page list view support */

/* BEGIN Rtl support in Admin menu */
#toolbar, #toolbar *
{
    text-align: left;
}

#toolbar ul li, #toolbar ul li a {
    float: left;
}
/* END Rtl support in Admin menu */

/* BEGIN Contextual links styles support */
ul.contextual-links li
{
   background-image: none !important;
   padding-left: 4px !important;
}

ul.contextual-links li a
{
   font-family: Arial !important;
   font-style: normal !important;
   font-weight: normal !important;
   font-size: 12px !important;
   text-align: left !important;
   text-decoration: none !important;
}
/* END Contextual links styles support */

/* BEGIN Rtl support for Contextual links */
a.contextual-links-trigger
{
    text-indent: 90px !important;
}
/* END Rtl support for Contextual links */

/* BEGIN Superfish support */
.stud-blockcontent .sf-menu.sf-style-default li 
{
    margin: 0;
    padding: 0;
}
/* END Superfish support */

.status, .status ul li
{   
    color: #234600;
}

.error, .error ul li
{
	color: #660000;
}

/* Begin Drupal Search style */
.stud-header .stud-search label
{
    display: none;
}

.stud-search div.form-item
{
    margin: 0;
}

#block-system-main form.stud-search, .content .search-form.search-page-form.stud-search
{
  line-height: normal !important;
}

.content .search-form.search-page-form.stud-search input[type="submit"] 
{
    top: 0;
    height: 21px;
    zoom: 1;
}

.stud-search .form-wrapper .action input[type="submit"],
.stud-blockcontent .stud-search .container-inline label,
.stud-postcontent .stud-search .container-inline label
{
  display: none;
}
/* End Drupal Search style */

.stud-comment-avatar img
{
    margin: 0;
}

.stud-comment-footer ul
{
    margin: 0 !important;
}

.stud-comment-footer li:before
{
    content: ' ' !important;
}

.block {
    border-width: 0;
    border-radius: 0;
    margin: 0;
    padding: 0;
}

/* Begin Autocomplete styles customization */

#node-form  input[type="text"] {
	margin: 0 !important;
}

#node-form  #autocomplete ul li:before {
	content: none !important;
}

/* End Autocomplete styles customization */

/* Begin BUEditor support */
.stud-commentsform  .bue-ui input:not([type="submit"]),
.stud-commentsform  .bue-ui input:not([type="image"]) {
    width:auto;  
    max-width:none;	
}
/* End BUEditor support */

/* Begin Advanced Forum support */
.forum-post-links ul.links li:before {
    content: none;
}

.forum-post-links ul.links li {
    padding: 0 0 2px 2px;
}
/* End Advanced Forum support */

ul.inline, ul.links.inline {
    display: inline;
    padding-left: 0;
}

ul.inline li {
    display: inline;
    list-style-type: none;
    padding: 0 0.5em;
}