/* Created by Artisteer v4.3.0.60928 */

.responsive body
{
   min-width: 240px;
}
  
.responsive img 
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}  
  
.responsive .stud-content-layout img,
.responsive .stud-content-layout video
{
   max-width: 100%;
   height: auto !important;
}

.responsive.responsive-phone .stud-content-layout img 
{
   margin: 1%;
}

.responsive.responsive-phone .stud-collage,
.responsive.responsive-tablet .stud-collage {
   margin: 0 !important;
}

.responsive .stud-content-layout .stud-sidebar0, 
.responsive .stud-content-layout .stud-sidebar1, 
.responsive .stud-content-layout .stud-sidebar2 
{
   width: auto !important;
}
    
.responsive .stud-content-layout, 
.responsive .stud-content-layout-row, 
.responsive .stud-layout-cell 
{
   display: block;
}

.responsive .stud-content-layout, 
.responsive .stud-content-layout-row
{
   padding: 0;
}
    
.responsive .image-caption-wrapper 
{
   width: auto;
}

.responsive.responsive-tablet .stud-vmenublock,
.responsive.responsive-tablet .stud-block
{
   margin-left: 1%;
   margin-right: 1%;
   width: 48%;
   float: left;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.responsive .stud-responsive-embed 
{
   height: 0;
   padding-bottom: 56.25%;
   /* 16:9 */
    position: relative;
}

.responsive .stud-responsive-embed iframe,
.responsive .stud-responsive-embed object,
.responsive .stud-responsive-embed embed
{
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

.responsive .stud-header 
{
   width: auto !important;
   max-width: none !important;
   min-height: 100px !important;
   min-width: 0 !important;
   margin-right: 1% !important;
   margin-left: 1% !important;
   text-align: center;
}

.default-responsive .stud-header 
{
   height: auto;
}

.default-responsive .stud-header *
{
   position: relative;
   text-align: center;
   -webkit-transform: none !important;
   -moz-transform: none !important;
   -o-transform: none !important;
   -ms-transform: none !important;
   transform: none !important;
}

.default-responsive .stud-header .stud-headline, 
.default-responsive .stud-header .stud-slogan 
{
   display: block !important;
   top: 0 !important;
   left: 0 !important;
   margin: 2% !important;
   text-align: center !important;
}
    
.default-responsive .stud-header .stud-headline a, 
.default-responsive .stud-header .stud-slogan 
{
   white-space: normal !important;
}

.default-responsive .stud-header .stud-logo
{
   display: inline-block;
   margin: auto !important;
   left: auto;
   top: auto !important;
   width: auto;
   height: auto;
}

.responsive .stud-header .stud-slidenavigator 
{
   position: absolute;
}

.default-responsive .stud-header .stud-positioncontrol 
{
   display: block !important;
   position: relative !important;
   top: auto !important;
   right: auto !important;
   bottom: auto !important;
   left: auto !important;
   margin: 2% auto !important;
   width: auto !important;
   height: auto !important;
}

.responsive .stud-header #stud-flash-area
{
   display: none;
}

/* Search and other elements in header element directly */
.default-responsive .stud-header>.stud-textblock
{
   position: relative !important;
   display: block !important;
   margin: 1% auto !important;
   width: 75% !important;
   top: auto !important;
   right: auto !important;
   bottom: auto !important;
   left: auto !important;
}

.default-responsive .stud-header .stud-textblock 
{
   position: relative !important;
   display: block !important;
   margin: auto !important;
   left: 0 !important;
   right: 0 !important;
   top: auto !important;
   height: auto !important;
   width: auto;
   background-image: none;
}

/* '.stud-header *' used noram align, but for '.stud-textblock *' we must force align because of preview */
.responsive .stud-header .stud-textblock *
{
   text-align: center !important;
}

.default-responsive .stud-header .stud-shapes > .stud-textblock,
.default-responsive .stud-header .stud-slide-item > .stud-textblock
{
   display: none !important;
}

.default-responsive .stud-header .stud-shapes > .stud-textblock *
{
   text-align: center !important;
   width: auto !important;
   height: auto !important;
   display: block;
}

.default-responsive .stud-header .stud-slider .stud-textblock *
{
   text-align: center !important;
   width: auto !important;
   height: auto !important;
   display: block;
}

/* For icons like facebook, rss, etc. */
.responsive .stud-header>.stud-textblock>div 
{
   width: 100%;
}
/* dynamic width nav */
.responsive nav.stud-nav,
.responsive .stud-nav-inner
{
   width: auto !important;
   position: relative !important;
   top: auto !important;
   left: auto !important;
   right: auto !important;
   bottom: auto !important;
   margin-top: 0;
   margin-bottom: 0;
   min-width: 0;
   text-align: right !important;
}

.responsive nav.stud-nav
{
   min-width: 1%;
   margin-top: 1%;
}

.responsive .stud-nav 
{
   padding-left: 0;
   padding-right: 0;
   margin-bottom: 20px;
}

/* full width hmenu, instead of inline-block */
.responsive .stud-nav ul.stud-hmenu 
{
   float: none;
   text-align: center;
   display: none;
}

/* elements on different lines */
.responsive .stud-nav ul.stud-hmenu li,
.responsive .stud-hmenu-extra1,
.responsive .stud-hmenu-extra2
{
   float: none;
}
  
/* horizontal margins */
.responsive .stud-nav ul.stud-hmenu>li:first-child, 
.responsive .stud-nav ul.stud-hmenu>li:last-child, 
.responsive .stud-nav ul.stud-hmenu>li
{
   margin-left: 0;
   margin-right: 0;
}
 
/* separator */ 
.responsive .stud-nav ul.stud-hmenu>li:before
{
   display: none;
}

/* vertical distance between items */
.responsive .stud-nav ul.stud-hmenu a
{
   margin-top: 1px !important;
   margin-bottom: 1px !important;
   height: auto;
   white-space: normal;
}

.responsive .stud-nav ul.stud-hmenu>li:first-child>a
{
   margin-top: 0 !important;
}

.responsive .stud-nav ul.stud-hmenu>li:last-child>a
{
   margin-bottom: 0 !important;
}

/* fixes for extended menu */
.responsive .stud-nav .ext, 
.responsive .stud-nav ul.stud-hmenu>li>ul, 
.responsive .stud-nav ul.stud-hmenu>li>ul>li,
.responsive .stud-nav ul.stud-hmenu>li>ul>li a
{
   width: auto !important;
}

/* submenu position on hover */
.responsive .stud-nav ul.stud-hmenu ul
{
   left: auto !important;
   right: auto !important;
   top: auto !important;
   bottom: auto !important;
   display: none !important;
   position: relative !important;
   visibility: visible !important;
}

.responsive .stud-nav ul.stud-hmenu li.active>ul
{
   display: block !important;
}
.responsive .stud-nav ul.stud-hmenu ul li.active>a
{
   font-weight: bold;
}

.stud-nav .stud-menu-btn 
{
   border: 1px solid #404040;
   border-radius: 3px;
   box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
   display: none;
   -svg-background: linear-gradient(to bottom, #707070 0, #000 100%);
   background: -ms-linear-gradient(top, #707070 0, #000 100%);
   background: -moz-linear-gradient(top, #707070 0, #000 100%);
   background: -o-linear-gradient(top, #707070 0, #000 100%);
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #707070), color-stop(1, #000));
   background: -webkit-linear-gradient(top, #707070 0, #000 100%);
   background: linear-gradient(to bottom, #707070 0, #000 100%);
   margin: 3px;
   outline: none;
   padding: 5px;
   position: relative;
   vertical-align: bottom;
   width: 20px;
}

.stud-nav .stud-menu-btn span 
{
   background: #E0E0E0;
   border-radius: 2px;
   display: block;
   height: 3px;
   margin: 3px 1px;
   position: relative;
   -moz-transition: background .2s;
   -o-transition: background .2s;
   -webkit-transition: background .2s;
   transition: background .2s;
}

.stud-nav .stud-menu-btn:hover span
{
   background: #f3f3f3;
}

.responsive .stud-nav .stud-menu-btn 
{
   display: inline-block;
}

.responsive .stud-nav .stud-hmenu.visible 
{
   display: block;
}

.responsive .stud-nav ul.stud-hmenu>li>ul>li:first-child:after 
{
   display: none;
}
.responsive .stud-nav ul.stud-hmenu ul a
{
   padding-left: 4% !important;
}
.responsive .stud-nav ul.stud-hmenu ul ul a
{
   padding-left: 6% !important;
}
.responsive .stud-nav ul.stud-hmenu ul ul ul a
{
   padding-left: 8% !important;
}
.responsive .stud-nav ul.stud-hmenu ul ul ul ul a
{
   padding-left: 10% !important;
}
.responsive .stud-nav ul.stud-hmenu ul ul ul ul ul a
{
   padding-left: 12% !important;
}
  
.responsive .stud-nav ul.stud-hmenu>li>ul
{
   padding: 0;
}
  
.responsive .stud-nav ul.stud-hmenu>li>ul:before
{
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
}

.responsive .stud-sheet
{
   width: auto !important;
   min-width: 240px !important;
   max-width: none !important;
   margin-right: 1% !important;
   margin-left: 1% !important;
   margin-top: 1% !important;
}

#stud-resp {
   display: none;
}

@media all and (max-width: 768px)
{
    #stud-resp, #stud-resp-t { display: block; }
    #stud-resp-m { display: none; }
}

@media all and (max-width: 480px)
{
    #stud-resp, #stud-resp-m { display: block; }
    #stud-resp-t { display: none; }
}

#stud-resp-desktop {
   display: none;
}
#stud-resp-tablet-landscape {
   display: none;
}
#stud-resp-tablet-portrait {
   display: none;
}
#stud-resp-phone-landscape {
   display: none;
}
#stud-resp-phone-portrait {
   display: none;
}

@media (min-width: 1200px)
{
    #stud-resp-desktop { display: block; }
}

@media (min-width: 980px) and (max-width: 1199px)
{
    #stud-resp-tablet-landscape { display: block; }
}

@media (min-width: 768px) and (max-width: 979px)
{
    #stud-resp-tablet-portrait { display: block; }
}

@media (min-width: 480px) and (max-width: 767px)
{
    #stud-resp-phone-landscape { display: block; }
}

@media (max-width: 479px)
{
    #stud-resp-phone-portrait { display: block; }
}
.responsive .stud-content-layout, 
.responsive .stud-content-layout-row, 
.responsive .stud-layout-cell 
{
   display: block;
}

.responsive .stud-layout-cell 
{
   width: auto !important;
   height: auto !important;
}

.responsive .stud-content-layout:after, 
.responsive .stud-content-layout-row:after, 
.responsive .stud-layout-cell:after 
{
   content: ".";
   display: block;
   height: 0;
   clear: both;
   visibility: hidden;
}

.responsive .responsive-tablet-layout-cell,
.responsive.responsive-tablet .stud-footer .stud-content-layout .stud-layout-cell 
{
   margin: 1%;
   width: 98% !important;
   float: left;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.responsive .responsive-layout-row-2 .responsive-tablet-layout-cell,
.responsive.responsive-tablet .stud-footer .stud-content-layout .responsive-layout-row-2 .stud-layout-cell
{
   width: 48% !important;
}

.responsive .responsive-layout-row-3 .responsive-tablet-layout-cell,
.responsive.responsive-tablet .stud-footer .stud-content-layout .responsive-layout-row-3 .stud-layout-cell
{
   width: 31% !important;
}
.responsive .stud-post
{
   border-radius: 0;
}

.responsive .stud-footer-inner
{
   min-width: 0;
}
.responsive .stud-footer
{
   margin-top: 1%;
}

